@charset "utf-8";
/*-------------------
  关于我们
  ------------------*/
.about_box{ width:1000px; margin:0 auto;height: 110%;}
.about_top{ height:90px; width:100%; background:url(../images/about_top_bg_02.png) repeat-x;}
.about_logo{ width:200px; height:74px;}
.about_logo h1{ width:174px; height:74px; text-indent:-9999px; background:url(../images/logo_about.png) no-repeat; margin-top:6px;}
.about_top_r{ width:800px;}
.about_right_top{ height:30px;}
.about_right_top ul li{ float:right; line-height:30px; margin:0 5px; color:#d5d4d4;}
.about_right_top ul li a{ color:#838383;}
.about_right_top ul li a:hover{ color:#44afbd;}
.about_right_top ul .index_right_top_li7{ background:url(../images/index_r_dh_03.jpg) 0px 7px  no-repeat; padding-left:22px;color:#fc8f1a; font-weight:bold; font-size:16px;}
.about_header{ height:56px;}
.nav{ float:left; width:500px; margin-left:10px;}
.nav ul{height:56px;}
.nav ul li{ float:left; margin-right:40px; position:relative;}
.nav ul li a{ font-size:20px; font-family:微软雅黑; color:#646262; line-height:54px; height:54px; padding:0 10px; display:inline-block;}
.nav ul li a:hover,.nav ul .thisclass a{ border-bottom:2px solid #ff9047; color:#ff9047; background:url(../images/nav_hover.png) bottom center no-repeat;}
.hot{ width:21px; height:11px; position:absolute;top:9px; right:-13px;}

/* 导航专题下拉增添开始 */

.index_nav_ztxl{ width:620px; padding-bottom:10px; border-bottom:4px solid #3abccc; background:#fff; position:absolute;top:55px; left:-15px; z-index:99999999999999999; display:none; }
.nav ul li .index_nav_ztxl a{ float:left; display:block; width:265px; height:162px; border-bottom:1px solid #e3e2e2; padding-bottom:5px; margin:10px 10px 0px 15px;}
.nav ul li .index_nav_ztxl a img{width:265px; height:162px;}
.nav ul li .index_nav_ztxl a:hover{ background:none;}
.nav ul li .index_nav_ztxl .index_nav_ztxl_w{border-bottom:0;}
.nav .dq_mou{ border-bottom:2px solid #ff9047; color:#ff9047; background:url(../images/../images/nav_hover.png) bottom center no-repeat;}
.nav .dq_mou a{color:#ff9047; }
/* 导航专题下拉增添结束 */

.search{ width:230px; height:32px; float:right; margin-top:10px; overflow:hidden;}
.search_in{ height:30px; width:183px; border:1px solid #f0efef; border-right:0; float:left;}
.search_in input{ width:163px; height:30px; line-height:30px; outline:none; border:0; background:none;  padding:0 10px;}
.search_but{ width:43px; height:32px; float:left;}
.search_but input{ width:43px; height:32px; background:url(../images/search_03.jpg) no-repeat; border:0; cursor:pointer; outline:none;}
.about_con{ margin-top:18px; margin-bottom:25px; background:#fff; padding:30px 0px;}
.about_con_left{ width:200px; position:relative;left:5px;}
.about_con_left ul li{ height:46px;}
.about_con_left ul li a{height:46px; background:url(../images/about_left_li.png) 25px -5px no-repeat; display:block; text-align:center; line-height:46px; color:#666;}
.about_con_left ul li a:hover,.about_con_left ul li .about_now{background:url(../images/about_left_li.png) 25px -102px no-repeat;color:#5ebfca;}
.about_con_right{ width:674px; border-left:1px solid #f0efef; padding:0px 90px 0px 35px; overflow:hidden;}
.about_con_r_1{ overflow:hidden;}
.about_con_r_1 h2,.about_con_r_2 h2{ color:#4ABDCC;margin-bottom:15px;}
.about_con_r_1 p{ color:#666;font-size:14px; font-family:微软雅黑; line-height:30px; text-indent:2em;}
.about_con_r_1 p span{ color:#FF7E29;}
.about_con_r_1 h3{ color:#666; margin:15px 0px ; text-indent:1em; line-height:40px;}
.about_con_r_2{ margin-top:10px;}
.about_con_r_2 p img{width:500px;}
.about_con_r_2 p{ padding-left:90px;}
.footer{ height:68px; background:#6cbcc5;}
.foot{ width:1000px; margin:auto;}
.foot ul li{ float:left; height:68px;width:145px; padding-left:55px; margin-right:11px;}
.foot_li1{background:url(../images/foot_bg.png) -3px 10px no-repeat;}
.foot_li2{background:url(../images/foot_bg.png) -3px -63px no-repeat;}
.foot_li3{background:url(../images/foot_bg.png) -3px -136px no-repeat;}
.foot_li4{background:url(../images/foot_bg.png) -3px -209px no-repeat;}
.foot_li5{background:url(../images/foot_bg.png) -3px -283px no-repeat;}
.foot ul .foot_li5{ width:100px; margin-right:0px;}
.foot ul li h2{ color:#fff; font-size:16px;font-family:微软雅黑; line-height:23px; margin-top:12px;}
.foot ul li p{ line-height:20px; color:#fff;}
.link{ width:1000px; margin:20px auto; padding-bottom:15px; overflow:hidden; background:url(../images/link_bg_03.jpg) bottom left repeat-x;}
.link p{ line-height:22px; color:#735e63;}
.link p a{ display:inline-block; margin:0 3px; color:#735e63; line-height:22px;}
.link p a:hover,.low p a:hover{ text-decoration:underline;}
.low{ width:1000px; margin:20px auto; text-align:center;}
.low p,.low p a{ line-height:25px; color:#757474;}
.low_rz{ height:40px; margin:10px 0px 0px 0px; text-align:center; overflow:hidden; padding-bottom:15px;}
.low_rz a{ height:40px; margin:0px 5px;}
.low .low_rz p{ height:40px;}
.lowbg{ background:#effdff; width:100%;}