{% if is_paginated %}
{% load i18n %}
<div class="pagination">
    {% if page_obj.has_previous %}
        <a class="dest_page_s" href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}">上一页</a>
    {% else %}
        <a class="disabled dest_page_s">上一页</a>
    {% endif %}
    {% for page in pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <a class="pagination_this">{{ page }}</a>
            {% else %}
                <a href="?page={{ page }}{{ getvars }}{{ hashtag }}">{{ page }}</a>
            {% endifequal %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a class="dest_page_x" href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}">下一页</a>
    {% else %}
        <a class="disabled dest_page_x">下一页</a>
    {% endif %}
</div>
{% endif %}