{% extends "ajx/base.html" %}
{% load staticfiles %}

{% block title %}在旅行|关于{% endblock %}

{% block css %}
    <link href="{% static 'css/about.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block main %}

    {% include "ajx/includes/login.html" %}
    {% include "ajx/includes/header.html" %}

    <div class="about_box about_con">
        {% include "ajx/includes/about_left.html" %}
        {% ifequal tag 'a' %}
            <div class="about_con_right fl">
                <div class="about_con_r_1">
                    <h2 class="f25">关于我们</h2>
                    {% autoescape off %}
                    {{S.about}}
                    {% endautoescape %}
                </div>
            </div>
        {% endifequal %}
        {% ifequal tag 'b' %}
            <div class="about_con_right fl">
                <div class="about_con_r_1">
                    <h2 class="f25">联系我们</h2>
                    {% autoescape off %}
                    {{S.contact}}
                    {% endautoescape %}
                </div>
            </div>
        {% endifequal %}
        {% ifequal tag 'c' %}
            <div class="about_con_right fl">
                <div class="about_con_r_1">
                    <h2 class="f25">免责条款</h2>
                    {% autoescape off %}
                    {{S.clause}}
                    {% endautoescape %}
                </div>
            </div>
        {% endifequal %}
        {% ifequal tag 'd' %}
            <div class="about_con_right fl">
                <div class="about_con_r_1">
                    <h2 class="f25">用户协议</h2>
                    {% autoescape off %}
                    {{S.agreement}}
                    {% endautoescape %}
                </div>
            </div>
        {% endifequal %}
        {% ifequal tag 'e' %}
            <div class="about_con_right fl">
                <div class="about_con_r_1">
                    <h2 class="f25">网签协议</h2>
                    {% autoescape off %}
                    {{S.netsign}}
                    {% endautoescape %}
                </div>
            </div>
        {% endifequal %}
        {% ifequal tag 'f' %}
            <div class="about_con_right fl">
                <div class="about_con_r_1">
                    <h2 class="f25">预订流程</h2>
                    {% autoescape off %}
                    {{S.flow}}
                    {% endautoescape %}
                </div>
            </div>
        {% endifequal %}
        {% ifequal tag 'g' %}
            <div class="about_con_right fl">
                <div class="about_con_r_1">
                    <h2 class="f25">达人招募</h2>
                    {% autoescape off %}
                    {{S.invition}}
                    {% endautoescape %}
                </div>
            </div>
        {% endifequal %}
        {% ifequal tag 'h' %}
            <div class="about_con_right fl">
                <div class="about_con_r_1">
                    <h2 class="f25">供应商</h2>
                    {% autoescape off %}
                    {{S.supplier}}
                    {% endautoescape %}
                </div>
            </div>
        {% endifequal %}
    </div>

    {% include "ajx/includes/footer.html" %}

{% endblock %}