{% extends "ajx/base.html" %}
{% load staticfiles %}

{% block title %}在旅行|关于{% endblock %}

{% block css %}
    <link href="{% static 'css/about.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block main %}

    {% include "ajx/includes/login.html" %}
    {% include "ajx/includes/header.html" %}

    <div class="about_box about_con">
        {% include "ajx/includes/about_left.html" %}
        {% ifequal tag 'a' %}
            <div class="about_con_right fl">
                <div class="about_con_r_1">
                    <h2 class="f25">关于我们</h2>
                    <p>在旅行（&nbsp;www.blvxing.com）是国内一家专业提供旅游产品的网络平台，隶属于哈尔滨爱溜达科技有限公司旗下商标注册品牌：其产品包括旅游套餐，休闲度假、自由行、团队旅游等。在旅行通过分布在全国的800多家供应商，第一时间为用户提供全球100多个国家与地区超过3000条的精品特价旅游线路。未来我们将致力于打造成东北三省最大的旅游度假平台，为不同需求的用户提供专业、及时、高效的旅游度假服务。</p>

                    <p>&nbsp;</p>

                    <p>选择在旅行的理由：</p>

                    <p>行业经验：我们是一群有着十几年旅游顾问工作经验的人，并长期专注于跟团游、自由行产品。</p>

                    <p>精选行程：独特的产品质量筛选体系，保证了在旅行的每一条度假产品的品质。</p>

                    <p>产品保障：在旅行所有度假产品均为全资质的旅行社提供服务。</p>

                    <p>服务体系：在旅行对所有客户的售中、售后跟踪服务及质检，旅途中出现任何质量问题我们帮您维权到底，使您的权益得到切实保障。</p>

                    <p>&nbsp;</p>

                    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 在旅行&nbsp;~&nbsp;简单你的旅行！</h1>

                </div>
            </div>
        {% endifequal %}
        {% ifequal tag 'b' %}
            <div class="about_con_right fl">
                <div class="about_con_r_1">
                    <h2 class="f25">联系我们</h2>
                    <p>客服电话：40096-40018</p>

                    <p>&nbsp; &nbsp;QQ号：99039199</p>

                    <p>&nbsp;&nbsp;微信号：ijianxing</p>

                    <p>客服邮箱：[email&nbsp;protected]</p>

                    <h3>哈尔滨</h3>

                    <p>客服：40096-40018</p>

                    <p>电话：0451-51754315</p>

                    <p>邮箱：[email&nbsp;protected]</p>

                    <p>地址：黑龙江省哈尔滨市南岗区文教街106号（南岗店）</p>

                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 哈尔滨大街640号金爵万象写字间1号楼1801室（哈西店）</p>

                    <p>邮编：150001</p>

                    <h3>沈阳</h3>

                    <p>客服：40096-40018</p>

                    <p>电话：024-31509122</p>

                    <p>传真：024-31506772</p>

                    <p>邮箱：[email&nbsp;protected]</p>

                    <p>地址：沈阳市和平区十三纬路39号格林SOHO大厦A座7楼</p>

                    <h3>商务合作：</h3>

                    <p>电话：0451-51754315</p>

                    <p>传真：0451-51754316</p>

                    <p>邮箱：[email&nbsp;protected]</p>

                    <p>地址：哈尔滨市南岗区文教街106号</p>

                    <p>&nbsp;</p>

                    <p>旅游同业合作请加同业qq群</p>

                    <p>国内群：105021419</p>

                    <p>出境群：127643387</p>

                    <p>&nbsp;</p>

                </div>
            </div>
        {% endifequal %}
        {% ifequal tag 'c' %}
            <div class="about_con_right fl">
                <div class="about_con_r_1">
                    <h2 class="f25">免责条款</h2>
                    <p>1、任何人因使用本网站而可能遭致的意外及其造成的损失（包括因下载本网站可能链接的第三方网站内容而感染电脑病毒），我们对此概不负责，亦不承担任何法律责任。</p>

                    <p>2、本网站禁止制作、复制、发布、传播等具有反动、色情、暴力、淫秽等内容的信息，一经发现，立即删除。若您因此触犯法律，我们对此不承担任何法律责任。</p>

                    <p>3、本网站会员自行上传或通过网络收集的资源，我们仅提供一个展示、交流的平台，不对其内容的准确性、真实性、正当性、合法性负责，也不承担任何法律责任。</p>

                    <p>4、任何单位或个人认为通过本网站网页内容可能涉嫌侵犯其著作权，应该及时向我们提出书面权利通知，并提供身份证明、权属证明及详细侵权情况证明。我们收到上述法律文件后，将会依法尽快处理。</p>

                </div>
            </div>
        {% endifequal %}
        {% ifequal tag 'd' %}
            <div class="about_con_right fl">
                <div class="about_con_r_1">
                    <h2 class="f25">用户协议</h2>
                    <h3>一、服务条款</h3>

                    <p>在旅行旅游网提供的服务将完全按照其发布的使用协议、服务条款和操作规则严格执行。为获得在旅行服务，服务使用人（以下称“会员”）应当同意本协议的全部条款并按照页面上的提示完成全部的注册程序。</p>

                    <h3>二、目的</h3>

                    <p>本协议是以规定用户使用在旅行旅游网提供的服务时，在旅行旅游网与会员间的权利、义务、服务条款等基本事宜为目的。</p>

                    <h3>三、遵守法律及法律效力</h3>

                    <p>本服务使用协议在向会员公告后，开始提供服务或以其他方式向会员提供服务同时产生法律效力。</p>

                    <p>
                        会员同意遵守《中华人民共和国保密法》、《计算机信息系统国际联网保密管理规定》、《中华人民共和国计算机信息系统安全保护条例》、《计算机信息网络国际联网安全保护管理办法》、《中华人民共和国计算机信息网络国际联网管理暂行规定》及其实施办法等相关法律法规的任何及所有的规定，并对会员以任何方式使用服务的任何行为及其结果承担全部责任。</p>

                    <p>在任何情况下，如果本网站合理地认为会员的任何行为，包括但不限于会员的任何言论和其他行为违反或可能违反上述法律和法规的任何规定，本网站可在任何时候不经任何事先通知终止向会员提供服务。</p>

                    <p>
                        本网站可能不时的修改本协议的有关条款，一旦条款内容发生变动，本网站将会在相关的页面提示修改内容。在更改此使用服务协议时，本网站将说明更改内容的执行日期，变更理由等。且应同现行的使用服务协议一起，在更改内容发生效力前7日内及发生效力前日向会员公告。</p>

                    <p>会员需仔细阅读使用服务协议更改内容，会员由于不知变更内容所带来的伤害，本网站一概不予负责。</p>

                    <p>如果不同意本网站对服务条款所做的修改，用户有权停止使用网络服务。如果用户继续使用网络服务，则视为用户接受服务条款的变动。</p>

                    <h3>四、服务内容</h3>

                    <p>在旅行服务的具体内容由本网站根据实际情况提供，本网站保留随时变更、中断或终止部分或全部在旅行服务的权利。</p>

                    <h3>五、会员的义务</h3>

                    <p>用户在申请使用在旅行服务时，必须向本网站提供准确的个人资料，如个人资料有任何变动，必须及时更新。</p>

                    <p>用户注册成功后，本网站将给予每个用户一个用户帐号及相应的密码，该用户帐号和密码由用户负责保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。</p>

                    <p>用户在使用本网站网络服务过程中，必须遵循以下原则：</p>

                    <p>遵守中国有关的法律和法规；</p>

                    <p>不得为任何非法目的而使用网络服务系统；</p>

                    <p>遵守所有与网络服务有关的网络协议、规定和程序；</p>

                    <p>不得利用在旅行服务系统传输任何危害社会，侵蚀道德风尚，宣传不法宗教组织等内容；</p>

                    <p>不得利用在旅行服务系统进行任何可能对互联网的正常运转造成不利影响的行为；</p>

                    <p>
                        不得利用在旅行服务系统上载、张贴或传送任何非法、有害、胁迫、滥用、骚扰、侵害、中伤、粗俗、猥亵、诽谤、侵害他人隐私、辱骂性的、恐吓性的、庸俗淫秽的及有害或种族歧视的或道德上令人不快的包括其他任何非法的信息资料；</p>

                    <p>不得利用在旅行服务系统进行任何不利于本网站的行为；</p>

                    <p>如发现任何非法使用用户帐号或帐号出现安全漏洞的情况，应立即通告本网站。</p>

                    <h3>六、本网站的权利及义务</h3>

                    <p>本网站除特殊情况外（例如：协助公安等相关部门调查破案等），致力于努力保护会员的个人资料不被外漏，且不得在未经本人的同意下向第三者提供会员的个人资料。</p>

                    <p>本网站根据提供服务的过程，经营上的变化，无需向会员得到同意即可更改，变更所提供服务的内容。</p>

                    <p>本网站在提供服务过程中，应及时解决会员提出的不满事宜，如在解决过程中确有难处，可以采取公开通知方式或向会员发送电子邮件寻求解决办法。</p>

                    <p>本网站在下列情况下可以不通过向会员通知，直接删除其上载的内容：</p>

                    <p>有损于本网站，会员或第三者名誉的内容；</p>

                    <p>
                        利用在旅行服务系统上载、张贴或传送任何非法、有害、胁迫、滥用、骚扰、侵害、中伤、粗俗、猥亵、诽谤、侵害他人隐私、辱骂性的、恐吓性的、庸俗淫秽的及有害或种族歧视的或道德上令人不快的包括其他任何非法的内容；</p>

                    <p>侵害本网站或第三者的版权，著作权等内容；</p>

                    <p>存在与本网站提供的服务无关的内容；</p>

                    <p>无故盗用他人的ID(固有用户名)，姓名上载、张贴或传送任何内容及恶意更改，伪造他人上载内容。</p>

                    <h3>七、知识产权声明</h3>

                    <p>
                        本网站（www.blvxing.com）所有的产品、技术与所有程序及页面（包括但不限于页面设计及内容）均属于知识产权，仅供个人学习、研究和欣赏，未经授权，任何人不得擅自使用，否则，将依法追究法律责任。</p>

                    <p>
                        哈尔滨爱溜达科技有限公司拥有本网站内所有资料（包括但不限于本站所刊载的图片、视频、Flash等）的版权，（版权归属有特殊约定的，从其约定），未经授权，任何人不得擅自使用，否则，将依法追究法律责任。</p>

                    <p>“在旅行”、Logo（图形）及“blvxing.com”组合为哈尔滨爱溜达科技有限公司注册商标，任何人不得擅自使用，否则，将依法追究法律责任。</p>

                    <h3>八、免责声明</h3>

                    <p>任何人因使用本网站而可能遭致的意外及其造成的损失（包括因下载本网站可能链接的第三方网站内容而感染电脑病毒），我们对此概不负责，亦不承担任何法律责任。</p>

                    <p>本网站禁止制作、复制、发布、传播等具有反动、色情、暴力、淫秽等内容的信息，一经发现，立即删除。若您因此触犯法律，我们对此不承担任何法律责任。</p>

                    <p>本网站会员自行上传或通过网络收集的资源，我们仅提供一个展示、交流的平台，不对其内容的准确性、真实性、正当性、合法性负责，也不承担任何法律责任。</p>

                    <p>任何单位或个人认为通过本网站网页内容可能涉嫌侵犯其著作权，应该及时向我们提出书面权利通知，并提供身份证明、权属证明及详细侵权情况证明。我们收到上述法律文件后，将会依法尽快处理。</p>

                    <h3>九、服务变更、中断或终止</h3>

                    <p>如因系统维护或升级的需要而需暂停爱旅行服务，本网站将尽可能事先进行通告。</p>

                    <p>如发生下列任何一种情形，本网站有权随时中断或终止向用户提供本协议项下的在旅行服务而无需通知用户：</p>

                    <p>用户提供的个人资料不真实；</p>

                    <p>用户违反本协议中规定的使用规则。</p>

                    <p>除前款所述情形外，本网站同时保留在不事先通知用户的情况下随时中断或终止部分或全部在旅行服务的权利，对于所有服务的中断或终止而造成的任何损失，本网站无需对用户或任何第三方承担任何责任。</p>

                    <h3>十、违约赔偿</h3>

                    <p>用户同意保障和维护本网站及其他用户的利益，如因用户违反有关法律、法规或本协议项下的任何条款而给本网站或任何其他第三者造成损失，用户同意承担由此造成的损害赔偿责任。</p>

                    <h3>十一、修改协议</h3>

                    <p>本网站将可能不时的修改本协议的有关条款，一旦条款内容发生变动，本网站将会在相关的页面提示修改内容。</p>

                    <p>如果不同意本网站对服务条款所做的修改，用户有权停止使用在旅行服务。如果用户继续使用在旅行服务，则视为用户接受服务条款的变动。</p>

                    <h3>十二、法律管辖</h3>

                    <p>本协议的订立、执行和解释及争议的解决均应适用中国法律。</p>

                    <p>如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向本网站所在地的人民法院提起诉讼。</p>

                    <h3>十三、其他规定</h3>

                    <p>本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。</p>

                </div>
            </div>
        {% endifequal %}
        {% ifequal tag 'e' %}
            <div class="about_con_right fl">
                <div class="about_con_r_1">
                    <h2 class="f25">网签协议</h2>
                    <p>1.旅游者在签订本合同前请仔细阅读本合同各项条款，请仔细查看需要旅游者特别关注的条款。<br>
                        2.本协议适用于所有在旅行自由行产品，不适用于在旅行与具有合法资质的第三方供应商合作的平台类半自由行产品及跟团产品、针对此类产品，旅游者将直接与第三方供应商直接签署合法旅游合同。<br>
                        3.“旅游服务”是指旅游者委托在旅行办理两项及以上事务(如机票+酒店)，自行前往目的地的自助式旅游。该服务方式和包价旅游、团队旅游不同，在旅行仅对旅游者委托的内容负责，不安排旅游行程、不派遣领队，对委托内容以外的事宜不承担责任，非委托的事宜由旅游者自行安排。本合同不适用法律法规关于组团社的相关规定。<br>
                        4.旅游者购买在旅行产品应当为个人行为，不带有任何商业目的。如旅游者以商业目的购买本合同约定之产品，无论交易处于何种阶段，在旅行均有权立即取消此次交易，并将旅游者已支付的费用扣除此过程中在旅行已产生的损失，剩余金额退还给旅游者。<br>
                        5.旅游者同意，黑龙江省中旅国际旅行社有限公司&nbsp;有权指定第三方履行其在本合同项下的义务，行使其在本合同项下的权利。黑龙江省中旅国际旅行社有限公司为具有提供旅游服务资质的旅游服务者，经营本协议项下的旅游服务。<br>
                        6.旅游者如有任何问题或要求，可在工作日08:30-17:30；周末及节假日09:00-17:00致电在旅行客服人员，客服电话：40096-40018。</p>

                    <h2>合同条款</h2>

                    <h3>委托方(旅游者)：参照订单信息，下单用户代表全部订单中出行用户签署本协议<br>
                        受托方(在旅行)：黑龙江省中旅国际旅行社有限公司</h3>

                    <p>
                        根据《中华人民共和国合同法》、《中华人民共和国旅游法》等有关法律法规的规定，委托方与受托方就委托方委托受托方在旅行代订机票、代订酒店、代订签证办理、代订保险、代订租赁WIFI设备或其他旅游者要求的两项（含）以上的服务项目事宜，在平等自愿的基础上，达成协议如下：</p>

                    <h3>一、旅游者信息及其证件</h3>

                    <p>1.1参照在旅行会员在在旅行平台提交订单中显示的旅游者信息，旅游者及订单填写者承诺其所提供的信息真实、准确、有效。因旅游者信息变更导致的任何风险，在旅行不予承担。<br>
                        1.2&nbsp;本合同属于在同意预定在旅行产品的旅游者（无论其本人是否实际参与全部或部分旅游活动）与在旅行之间的委托合同。<br>
                        1.3&nbsp;如在在旅行预定产品的人与实际使用相应产品的人不同，预定产品的人事先应当已经取得实际使用相应的产品的人的授权进行预定并同意承担本合同及相关的义务。在旅行有理由认为预定产品的人在进行产品预定时已经取得上述授权，愿意承担本合同中旅游者的部分义务。<br>
                        1.4旅游者理解且同意本合同以及本合同有关附件的全部内容。并确认委托事项无误。<br>
                        1.5在旅行再次特别提示旅游者关注本合同中以加黑、下划线标注的需要旅游者特别关注的条款，并仔细阅读本合同的全部内容。<br>
                        1.6合同双方有关本合同的有关联系事项，均需要通过旅游者提供的订单联系人的通讯信息进行联系，旅游者同意采用电话、电子邮件或手机短信方式进行确认。如订单联系人信息变更，应提前两个工作日通知并通过在旅行要求的方式重新提供变更后的订单联系人信息，否则由此导致的损失由违约方承担。<br>
                        1.7旅游者应自行携带本人的有效身份证或其他身份证明的原件。以防搭乘交通工具或入住酒店时，相关单位提出须出示相关身份证明原件的要求。具体有效证件包括：居民身份证、个人因私护照、港澳通行证、台湾通行证、军官证等。若您持个人因私护照出境，请确保出行人护照有效期距离返回出发地日期半年以上，如因出行人护照遗失、过期、有效期不足而产生的相关费用或损失，在旅行不予承担。携儿童出境旅行，旅游者应当遵守海关及旅游局相关规定，以避免信息缺失造成的损失。对于因旅游者未能遵守相关规定而导致其无法出行、出行延误等任何损失，在旅行不予承担。<br>
                        1.8&nbsp;旅游者提供给在旅行的证件和有关信息资料必须符合旅游全程要求，如旅游者提供的资料导致的责任，由旅游者自行承担。如旅游过程中，部分旅游证件（含签证/签注）、交通票证或酒店住宿、旅游项目由旅游者自行办理的，在旅行对此不承担责任，由此导致的有关问题或给旅游者带来的扩大损失，由旅游者自行负责。<br>
                        1.9持有外籍护照的旅游者应自行与出入境管理局确认自身的中国签证可以在旅行结束后顺利返回中国，如因外籍出行人护照、签证手续不全导致产生的相关费用或损失，在旅行不予承担。</p>

                    <h3>二、委托事项及其办理流程</h3>

                    <p>2.1在旅行为旅游者提供代办预定机票、酒店、办理签证、接送服务、导游服务等两项（含）以上的服务项目事宜。每位旅游者的具体委托事宜，根据其提交订单同时选择的产品类型及服务内容确定。<br>
                        2.2如旅游者未经在旅行同意，以转卖之商业目的而委托在旅行处理上述事务，在旅行都将有权追究旅游者的法律责任，且旅游者须偿还由此给在旅行及在旅行相关合作伙伴造成的任何直接或间接的经济损失。<br>
                        2.3委托办理流程<br>
                        2.3.1在旅行网站上展示可预订之服务分为“立即确认”及“二次确认”两种。“立即确认”的服务的剩余名额即“余位”为准确的，实时更新的，旅游者下单之后可立即支付，支付成功即认为交易成功。“二次确认”产品的“余位”仅供参考，旅游者下单后无法立即支付，需与在旅行工作人员联系，待工作人员确认后方可支付。支付成功同样认为交易成功。<br>
                        2.3.2旅游者在在旅行网站上针对在旅行可预订之服务点击“立即预定”，根据系统提示输入相关信息，点击“提交订单”后，该订单即生成，该服务的“余位”将自动减少相应数量。每个订单均由唯一的订单号可供查询，每个订单提交后，旅游者须在120分钟内完成支付（抢购商品以实际支付时间为准），超时系统将自动取消订单，该服务的“余位”将自动还原。如因系统延迟，或通过第三方支付平台付款成功的，此订单状态将以在旅行对旅游者的最终通知为准。<br>
                        2.3.3旅游者应在不晚于出发前12天（如在旅行页面标注或客服人员另有通知，请以页面标注或客服通知为准），将旅游者的护照首页及有效证件上传至在旅行指定的在旅行网站系统，或通过邮件发至在旅行服务邮箱：[email&nbsp;protected]。邮件标题请您注明相应的订单号及旅游者姓名（建议使用标题：旅游者姓名——订单号的格式）。（订单号可在在旅行网站“我的订单”中查询），如因旅游者未能及时提供护照信息及有效证件或护照及有效证件信息错误而产生的无法出行或相关损失，在旅行不承担任何责任。
                    </p>

                    <h3>三、在旅行产品及服务委托办理规则</h3>

                    <p>3.1机票预订规则<br>
                        3.1.1&nbsp;机票的签、转、退等事宜须按照航空公司的规定办理。通过在旅行向航空公司申请的优惠机票通常附带严格的限制条件，在旅行提请旅游者关注并遵守以下内容：<br>
                        （1）订单提交成功后，不可变更姓名、证件号码、日期和航班。<br>
                        （2）凡是需要由在旅行交付订金以从航空公司获取的机票，即便未出票，如取消预定，在旅行也会产生订金损失，该损失最终将由取消预定的旅游者承担。<br>
                        （3）机票(或电子客票行程单)票面价有可能与机票报价不等，旅游者应当对航空公司的商业运作给予理解。旅游者可向在旅行索取与实际交费数额相等的正式发票。<br>
                        （4）航空公司通常以出票时的汇率为依据确定航空税金额。如因汇率变化，航空税实际价格高于预收价格，旅游者须补缴差额部分。<br>
                        （5）如果旅游者的机票是往返或者联程机票，机票必须按顺序使用，否则航空公司有权取消旅游者的后续行程；如果旅游者在部分航段发生NO-SHOW（即未能按期乘机），则未乘坐的航段费用无法退还，因旅游者自身原因无法按时享受相关的其他服务，旅游者自行承担，在旅行不予退还相应费用。<br>
                        （6）在旅行向航空公司采购机票方式不同于普通散客预订机票，故机场建设费及燃油税计算方法不同于常规散客预订机票。<br>
                        （7）在旅行代订机票为优惠价格，不接受改签、转让、退票等服务。<br>
                        3.1.2航班的特别规则<br>
                        （1）航班通常在出发前一天或者出发当天出票，旅游者应自行确定航班号和航班时刻。在旅行网站展示的航班起降时刻中的“+1”，则表示改航班落地时间为起飞时间的次日。<br>
                        （2）航空行李依照航空公司规则分配，未包含托运项目的航段客人需自行购买，在旅行不承担因客人未及时咨询或自行购买而带来的差额损失。<br>
                        3.1.3&nbsp;产品中所展示航班、机型信息仅供参考，最终信息以出行通知为准。另航班可能因为天气等原因受到影响，造成延误或取消，旅游者应实时关注航班变化，与所乘航空公司密切沟通，保持信息畅通。在旅行不对此承担任何责任。如依照航空公司通知获得补偿的，在旅行合理协助旅游者取得相应补偿但不承担其他额外责任。<br>
                        3.2&nbsp;酒店预订和入住规则<br>
                        3.2.1&nbsp;国内酒店通常规定旅游者应在中午12点前办理退房手续，中午12点后办理入住手续；国际酒店通常规定中午12点以前办理退房手续，下午2点后办理入住手续，部分国际酒店退房时间为中午12：00之前，请旅游者办理酒店入住时详细询问具体情况。如超时需支付附加费（如果是代订日第二天凌晨入住的，也算一天，须支付续住费用）。少数酒店或特殊假期例外，旅游者应当根据相应酒店的规则办理。如客人未依照入住日期入住，将无法根据已成功预订入住，在旅行不承担相应协调或额外安排的责任。<br>
                        旅游者应据此合理安排行程。针对产品详情中标注了“含早餐”的酒店，一般按床位数安排早餐。因此，不占床位的儿童可能没有专属自己的早餐。<br>
                        3.2.2基于环保考虑，部分酒店习惯上不提供洗漱用品和拖鞋，需自备；房间内可能没有热开水供应，如果您有饮茶的习惯，用早餐的餐厅会有开水供应。有的客房备有电热水杯，也可自己携带电热水杯使用，但一定要注意安全。<br>
                        3.2.3&nbsp;旅游者所购买产品所涉及地区电源插座与中国国内可能有所不同，建议准备多功能的转换插座。<br>
                        旅游者所入住酒店的部分收费项目，旅游者在使用前应当自行了解清楚付费办法后再使用。可能包括但不限于收费电视、电话、饮品等。入住酒店、离店、因故提前退房、延住等事宜须按照酒店的规定办理，大多数酒店需入住客人缴纳押金。如提前入住或推迟离店，酒店可能酌情加收一定费用。请旅游者与酒店自行处理该等事宜。<br>
                        3.2.4产品中所展示的酒店信息、图片仅供参考，酒店星级为目的地当地酒店评定标准，最终以实际入住为准。依据酒店所在国家和地区的法律或行业规定，大部分境外酒店并不进行星级标准认定。&nbsp;在旅行仅按照旅游者向在旅行提交订单时指定或选择的级别标准预定，在旅行谨提示旅游者应当留意酒店的设备、设施的用途、使用方法等，确保正确、合理使用，但不对该酒店的设施、设备、酒店本身的服务事项负责。<br>
                        3.2.5&nbsp;如旅游者变更、取消预订，须按在旅行关于取消、变更预订的规定以及相应酒店变更预订的相关规定办理。旅游者应承担变更、取消导致的损失或违约金。<br>
                        3.2.6如旅游者选择在旅行往返机票产品，在旅行不对旅游者入住酒店相关事宜承担任何责任或风险。<br>
                        3.2.7为保证旅游者的人身及财产安全，在旅行不提供也不建议陌生人拼住同一酒店房间，若因旅游者自行与他人拼住而产生的人身安全问题或财产损失等，在旅行不承担任何责任。<br>
                        3.3&nbsp;接送服务规则<br>
                        3.3.1&nbsp;接送服务（如有），仅指提供机场至酒店(或约定地点)单程或往返的交通，不包含导游和讲解服务。<br>
                        3.4&nbsp;签证规则<br>
                        3.4.2&nbsp;在旅行根据使(领)馆的规定书面告知旅游者办理签证所须资料，如使(领)馆的要求发生变更，在旅行会及时通知旅游者，但在旅行不对使(领)馆提出的变更要求负责。<br>
                        3.4.3&nbsp;旅游者应根据通知按期提交相关材料，履行相关手续，并确保各项资料的真实有效。个别使(领)馆可能会致电抽查或要求面谈。旅游者对此应有相应准备。<br>
                        3.4.4&nbsp;是否发放签证，以及在办理签证过程中，需要旅游者给予配合的事项，系有关机构之行政权或主权，非在旅行所能控制。如因旅游者提供的材料不真实或自身其它原因不能在出发前获取签证或者签证办理影响旅游者行程的，在旅行不承担责任。在旅行不退还旅游者支付的签证费和在旅行服务费等相关费用。如因旅游者提供虚假资料而给在旅行造成损失的，旅游者应承担全部责任。<br>
                        3.4.5&nbsp;入境某些免签或落地签国家或地区时，需向移民局官员出示酒店预订单、返程机票等，请旅游者注意携带。<br>
                        3.5自由行规则<br>
                        3.5.1自由行出发地、目的地及出行时间以在旅行网站展示信息为准，网站上如标明为参考航班及参考酒店，则航班及酒店介绍信息包括文字、图片等仅供参考，最终航班信息及酒店信息以在旅行出团通知为准。<br>
                        3.5.2在旅行在旅游者出发前以邮件形式将相应自由行航班的时间发到旅游者提供的邮箱中，请旅游者注意查收。<br>
                        3.5.3自由行具体出行天/晚数计算方法：以出发航班（或邮轮等交通工具）的出发当地时间及返程航班（或邮轮等交通工具）的抵达返程目的地的时间，计算出自然天数，超过当日00：00即为一天。以旅游目的地酒店（或邮轮）住宿夜晚数计算出晚数。如3月1日出发，3月2日抵达，3月5日返程出发，3月6日返程抵达，则为3晚6天/或4晚6天（具体以在旅行公布的产品信息为准）。
                    </p>

                    <h3>四、旅游者的健康及安全</h3>

                    <p>
                        4.1旅游者在签订本合同前，以及在出行过程中应确保自身条件适合出行，旅游者应当充分了解和斟酌自己的健康状况，确保自身身体条件能够适应和完成旅游活动。对于其可能影响正常行程的健康状况，应当在出行前如实告知在旅行。<br>
                        建议旅游者在出行前做一次全面的身体检查，如存在下列健康问题的病患者，请勿出行：<br>
                        （1）传染性疾病患者，如传染性肝炎、活动期肺结核、伤寒等传染病人；<br>
                        （2）心血管疾病患者，如严重高血压、心功能不全、心肌缺氧、心肌梗塞等病人；<br>
                        （3）脑血管疾病患者，如脑栓塞、脑出血、脑肿瘤等病人；<br>
                        （4）呼吸系统疾病患者，如肺气肿、肺心病等病人；<br>
                        （5）精神病患者，如癫痫及各种精神病人；<br>
                        （6）严重贫血病患者，如血红蛋白量水平在&nbsp;50&nbsp;克&nbsp;/&nbsp;升以下的病人；<br>
                        （7）大中型手术的恢复期病患者；<br>
                        （8）孕妇及行动不便者。<br>
                        4.2&nbsp;如旅游者患有心脏病、高血压或其他不适合本次旅行的疾病，不得签署本合同或参加在旅行所提供至服务。对于提交订单并付费、签订本合同的旅游者，在旅行视同旅游者身体状况适合本次旅行，对因旅游者个人身体原因导致的损失不承担责任。<br>
                        4.3&nbsp;如旅游者签署合同时或者旅行期间为70周岁（含）以上、或18周岁（不含）以下，应当有成年且具有完全行为能力的近亲属同意并陪同。旅游者签署合同时怀有身孕、或有身体残障等情况,或为非中国国籍人士（含港澳台人士）的，应在签署本合同时向在旅行进行明确告知，并按照在旅行的要求签署有关文件，在旅行有权拒绝该等旅游者签署合同。已事先未知该等情形而签署合同的，在旅行有权立即解除合同，后果由旅游者自行承担。<br>
                        4.4&nbsp;在旅行提醒育龄女性签署本合同前确认本人出行期间不处于妊娠期，如因处以妊娠期要求解除或变更合同的，应按照合同约定的因旅游者原因而解约或变更规定承担有关责任。对于部分拒绝妊娠期外籍女性入境的旅游目的地，在旅行会事先告知旅游者，因此而导致的任何后果由旅游者自行承担。对于妊娠期的旅游者，在旅行有权立即解除合同并要求其承担违约。<br>
                        4.5&nbsp;旅游者应当维护国家和民族的尊严与形象，遵守我国及行程国家或地区的法律法令，不得涉足不健康场所，不得携带违禁物品出入境，不得实施损害国家或他人利益的行为。<br>
                        4.6&nbsp;旅游者应根据自己的身体状况随身携带一些必备的药品及常用药品。对于应急药品应随身携带，不要放在托运的行李中或者转交他们保管。在旅行或者产品相关的第三方不承担旅行者贵重物品、药品等物品的保管义务。<br>
                        4.7&nbsp;旅游者应选择自己能够控制风险的活动项目。特别是患有心脏病、高血压、恐高症等不适宜参加剧烈或激烈活动的旅游者，不要选择与自身身体情况不相适宜的活动。<br>
                        4.8&nbsp;旅游者的旅途涉及热带、高原、海滨、草原等特殊的气候、地理等自然条件的，应当事先自行采取必要的防护措施、自备必要的防护用具等。7岁以下儿童和70岁以上的老人不适合到高山或海拔高的地方旅行<br>
                        4.9&nbsp;旅游者自行参加高风险娱乐项目，如雪上摩托、骑马、草地摩托、快艇、漂流、攀岩等，应根据自身情况选择并应在专业技术人员的看护下参加，仔细阅读景区提示，在景区指定区域内开展活动，注意人身安全。酒后或服用相关药物、食物后禁止参加爬山或/和涉水、游泳以及其他高风险娱乐项目。对于高风险活动，一旦发生意外，保险理赔范围可能有限。在旅行建议对于旅游者而言具有一定风险的活动，旅游者应尽量不参加。<br>
                        4.10&nbsp;旅游者在旅游期间驾驶车、船、机等工具的，应当遵守的当地的驾驶规则安全、文明驾驶。因此而发生的一切责任，由旅行者自行承担。<br>
                        4.11旅游者应妥善保管好自己的财物及有效证件。随身携带的贵重财物请存放稳妥。<br>
                        4.12&nbsp;旅游者使用支票、信用卡、现金等支付工具的，应当自行妥善保管，并不应违反旅行相关地区的规则。除另行约定外，在旅行及旅游者所预定产品相关的第三方不承担保管义务。</p>

                    <h3>五、保险承担</h3>

                    <p>5.1&nbsp;在旅行建议旅游者自行购买旅游意外险等人身或财产保险，承保旅游者旅行过程中的人身或财产安全。该旅游等风险及相应的保险由旅游者自愿、自行购买，在旅行不承担该等义务。<br>
                        5.2如旅游者未能购买有关保险，如出现风险事故不能获得保险理赔，相应责任和风险由旅游者承担。<br>
                        5.3&nbsp;旅游者自行投保相关保险并自行保管相关票据。在在旅行提供本合同约定之服务期间发生承保范围内的保险事故的，在旅行可以根据其所掌握的信息协助旅游者向保险公司理赔。</p>

                    <h3>六、在旅行的权利及义务</h3>

                    <p>6.1在旅行有权根据旅游者所的预定，在提供相应产品及服务前向旅游者收取相应的旅游费用。<br>
                        6.2&nbsp;应当对旅游者的个人信息保密，并在收取全部旅游费用后向旅游者开具发票。<br>
                        6.3&nbsp;接受旅游者委托为旅游者办理签证或其他必要手续，应妥善保管旅游者的各项证件，如有遗失或毁损，应立即主动补办，并承担补办费用，因此导致旅游者的直接损失，在旅行应承担赔偿责任。<br>
                        6.4&nbsp;在旅行责任限制<br>
                        6.4.1&nbsp;在旅行仅在受托范围内，依照《中华人民共和国合同法》中“委托合同”的规定、其他相关法律法规的规定及本合同的约定，履行受托人的义务。<br>
                        6.4.2因第三方原因导致旅游者人身、财产权益受到损害的，在旅行不承担责任，但应当协助旅游者与责任方争取正当权益。</p>

                    <h3>七、旅游者的权利及义务</h3>

                    <p>7.1旅游者有权享有其根据本合同约定委托在旅行提供之服务。对于未委托在旅行提供的服务，旅游者有权利拒绝接受。<br>
                        7.2旅游者应当组织支付其预定的产品和服务的费用。<br>
                        7.3保持联络畅通：由于多数情况无法与旅游者进行书面往来确认事项，在旅行多采用电话、邮件方式与旅游者沟通、确认。旅游者自预订之日开始至相应产品到期之日止应保持旅游者提供的联络电话、邮箱有效畅通，以便在旅行能够与旅游者及时联络。因旅游者所提供联络方式故障等非在旅行原因导致旅游者未能及时收到或查看相关信息，由旅游者自行承担。<br>
                        7.4携带有效证件：十六岁以上的公民出行应当携带本人身份证，未成年人出行应有监护人陪同，并应向在旅行出具亲属关系证明文件。出境旅游的应携带护照（有效期在半年以上），前往港澳地区旅游应携带港澳通行证并办理有效签注，前往台湾旅游应携带大陆居民往来台湾通行证和入台证，前往境外其他地区应携带相应地区有效的入境、通行证明文件。<br>
                        7.5入境某些免签或落地签国家或地区时，需向移民局官员出示酒店预订单、返程机票等，旅游者应注意自行携带和出示。<br>
                        7.6提前抵达机场避免误机损失：国内航班请务必在飞机起飞前两小时、出境航班在起飞前三小时抵达机场。<br>
                        7.7如果旅游者未能按照合同约定及时参加旅游项目或未能及时搭乘交通工具，视为旅游者自愿放弃后续所有行程。旅游者自行承担相应的全部后果，在旅行不因此而承担任何责任或返还任何费用。<br>
                        7.8旅游者应当根据自己的身体情况选择旅游产品，如系个人身体原因而影响行程的，旅游者需要自行承担医疗费用、由此增加的交通费、住宿费、餐费等。在旅行已收取的费用不予不退。<br>
                        7.9如果旅游者自身原因延期出发或变更线路，旅游者须要支付已经发生的费用和损失，再重新计算旅游费用。<br>
                        7.10如旅游者委托在旅行办理签证且取得签证后由于旅游者的原因取消，在旅行有权注销旅游者的签证（因签证中含有在旅行的信誉担保）。<br>
                        7.11旅游者自行承担履行期间其自身的人身财产安全，贵重物品应随身携带。遵守相关法律法规，尊重当地风俗习惯。<br>
                        7.12乘机相关义务<br>
                        7.12.1注意携带物品符合规定：<br>
                        （1）持头等舱客票的旅客，每人可随身携带2件物品；持公务舱或经济舱客票的旅客，每人只能随身携带1件物品。每件物品的体积均不得超过20×40×55厘米，上述两项总重量均不得超过5公斤。<br>
                        （2）根据航空安全要求，容积超过100毫升的任何容器或盛有100毫升以上液体、凝胶状物品（例如洗浴液、头发定型凝胶等）；乳液及液体（例如润肤液、香水、面霜、防晒霜等）；膏状物（例如牙膏、凡士林、眼影膏等）；压缩泡沫及喷雾（例如剃须泡沫、防晒泡沫等）；食物（例如清水、饮料、乳酪、糖水）；液态化妆品（例如粉底液、唇彩、睫毛液、卸妆液、指甲油等）等的容器都不允许带上飞机，必须办理托运，否则旅游者只能选择在安全检查时放弃旅游者所携带的物品。以上信息请以机场和海关当天最终确认为准。<br>
                        （3）托运的行李中不可以夹带锂电池，请随身携带并做好防护措施，注意随身携带锂电池数量不能超过2块。<br>
                        （4）飞机颠簸时，要回到座位上坐好，系好安全带。<br>
                        （5如果旅游者需要在旅途中服药，请务必随身带足用量，注意避免因航班延误或行李延误等原因影响旅游者及时服药。<br>
                        （6）更多海关、安检规定请以公布的最新管理办法为准。<br>
                        7.12.2登陆航班后如果需要服务，只要按下服务指示灯即可，不必大声呼唤。目前大部分国际航班全程禁止吸烟。<br>
                        7.12.3按照国际惯例，搭乘国际航班或者乘坐邮轮的建议您提前3小时到达机场或港口办理登机或登船、托运手续。行李超过规定尺寸或重量的必须托运，并请保存好托运行李的单据。如在旅行网站信息另有特别说明或在旅行客服人员另有通知，请以网站特别说明或客服人员通知为准。<br>
                        7.12.4出境时，高级相机，摄像机等贵重物品要申报，填好申报单后出关时过红色通道，并请保管好申报单的底单，以备回来入境时检查；海岛国家严禁携带与动物、植物，土壤相关的物品出入境。请勿将以下物品带回中国：（1）动植物病原体及其他有害生物；（2）动物尸体及标本；（3）土壤；（4）水果及蔬菜；（5）蛋、蹄骨，角类及肉类等；（6）动物血液，制品及动物皮毛等。<br>
                        7.13部分产品的网上预订只针对中国大陆公民，港澳台及外籍参团人员应遵守在旅行的相关规定。<br>
                        7.14出境地区的药品的剂量和名称可能与中国有所不同，也不能在药店随便购买。旅游者应根据其自身健康情况自备常用药，如感冒药、消炎药、止痛药、创可贴、晕车药、肠胃药等；年长者也应针对自己身体情况的需要，带好备用药品。<br>
                        7.15如通过在旅行或其他公开信息已获悉所前往地区有疫情报告，旅游者应提前办好卫生检疫手续。<br>
                        7.16旅游者应遵守旅游当地的公共秩序和社会公德，尊重当地的文化传统、风俗习惯和宗教信仰等，爱护旅游资源、生态环境，言谈举止应文明有节、礼貌大方。遵守《中国公民出国（境）旅游文明行为指南》等文明行为规范。<br>
                        7.17旅游者对国家应对重大突发事件暂时限制旅游活动的措施以及有关部门、机构或者旅游经营者采取的安全防范和应急处置措施予以配合。</p>

                    <h3>八、服务费用及其支付</h3>

                    <p>（一）服务费用<br>
                        8.1&nbsp;旅游者使用预定产品的前提是其按照在旅行所公布相应产品和服务的要求按时、足额支付了相应的服务费并完整、准确提供相应的资料。<br>
                        8.2&nbsp;上述费用所包含的服务项目根据旅游者所下订单中所记载内容为准。<br>
                        8.3&nbsp;除非如在旅行官方网站相应服务介绍信息中特殊标注，否则，其网站上展示的产品如为双人成行的所列价格为单人价格，如最终出行人数为单数，单独出行的旅客需根据在旅行网站相应产品的说明的要求补缴单人房差。如在旅行网站所列服务的详情中无特殊标注，儿童与成人价相同。<br>
                        8.4&nbsp;外籍人员购买在旅行产品，可能会需要补交机票外籍差额等因其外籍人员身份而需要另行支付的其他费用，具体金额旅游者应当在下订单之前详询在旅行客服人员。<br>
                        8.5&nbsp;旅游者应当支付的服务费用单价及总价，以旅游者所预订的在旅行官网相应服务内容为准。旅游者一旦下单并付款，则认为此交易生效，原则上旅游者不得更换或取消行程，否则视为违约。<br>
                        8.6&nbsp;为进一步明确，在旅行所收取的费用中不包含旅游者办理护照、港澳通行证、台湾通行证、保险的费用，自行安排的活动及其期间发生的费用，旅游者旅行期间发生的洗衣、通讯、个人餐饮、个人娱乐、伤病医疗等个人费用以及旅游者导致的赔偿费用。<br>
                        （二）费用的支付<br>
                        8.7&nbsp;旅游者应当根据在旅行网站相关服务的要求在线支付服务费用。由于部分第三方支付系统页面支付设定的有效支付时间为支付请求提交之后间隔一段时间，旅游者须提前支付并预留上述间隔时间，否则视为支付不成功。对于上述不成功的支付，即使第三方系统显示支付了款项，在旅行系统也无法获取该等在有效时间外支付的款项，第三方系统通常会在一定时间后（通常为第二个自然日，但具体以第三方系统实际运行为准）发起将已处于支付状态而无法被爱旅行收取的款项原路退回给旅游者的操作，该等款项退至旅游者账户的时间会因银联系统及银行卡发卡行等因素的不同而有所不同。因第三方支付系统故障等原因导致旅游者未能及时将服务费用付至在旅行系统的，在旅行不承担责任。上述风险，旅游者应当明确知悉并自行承担。
                    </p>

                    <h3>九、合同的效力范围、变更和解除、违约责任</h3>

                    <p>9.1合同效力<br>
                        9.1.1本合同在旅游者在在旅行平台提交订单、成功支付订单费用且经在旅行平台确认后生效，至旅游者所订购产品或服务有效期截至或者提供完毕之日失效。<br>
                        9.1.2旅游者应按合同约定的航班时间登机，并按约定时间入住酒店。<br>
                        9.1.3如旅游者为多人，其中一位旅游者代表或者多人旅游者共同委托一人以在旅行会员的名义在在旅行平台提交订单并签署本合同以及相关附件的，视为该在旅行会员取得了旅游者签署本合同及附件的授权，且本合同及其附件对每位旅游者均具有约束力，视为其亲自签署了本合同及其附件。如因其他旅游者未给予授权而发生争议的，由合同签署人承担全部责任，在旅行不承担任何责任。<br>
                        9.1.4本合同及相关文件内容如与《中华人民共和国旅游法》等相关法律法规的规定相相违背的，以《中华人民共和国旅游法》等法律法规的规定为准。<br>
                        9.2合同变更<br>
                        9.2.1旅游者变更合同内容：<br>
                        （1）旅游者要求更改该合同内的任何项目，应在旅行出发前通知在旅行并根据在旅行的要求办理相应的程序。<br>
                        （2）是否可以进行变更，由在旅行根据该具体变更项目的情况确定，在旅行不保证可以按照旅游者的意愿进行变更。<br>
                        （3）经双方协商一致，以书面形式变更已生效合同约定内容的，旅游者须全额承担因变更带来的损失及可能增加的费用，并应当根据在旅行规定的时间内补足全部费用，否则视为未变更。<br>
                        9.2.2在旅行变更合同内容<br>
                        （1）合同生效后，如完全属于在旅行单方原因要求更改已生效合同的任何项目的，应经旅游者同意。未经旅游者同意，不得更改已生效合同的内容。<br>
                        （2）如因在旅行提出变更，旅游者不同意的，在旅行可解除本合同，依照本合同中有关解约责任约定进行处理。<br>
                        9.3合同解除<br>
                        9.3.1本合同生效后，任何一方可以提前30日通知对方要求终止本合同。<br>
                        9.3.2&nbsp;旅游者有下列情形之一的，在旅行可以解除合同：<br>
                        （1）患有传染病等疾病，可能危害其他旅游者健康和安全的；<br>
                        （2）携带危害公共安全的物品且不同意交有关部门处理的；<br>
                        （3）从事违法或者违反社会公德的活动的；<br>
                        （4）从事严重影响其他旅游者权益的活动，且不听劝阻、不能制止的；<br>
                        （5）继续履行合同可能危及其他人人身、财产安全的；<br>
                        （6）法律规定的其他情形。<br>
                        因前款规定情形解除合同的，在旅行扣除已经发生或必然发生的必要的费用及旅游者应当向在旅行支付的费用后，将余款退还旅游者；给在旅行造成损失的，由旅游者承担赔偿责任。<br>
                        9.4&nbsp;违约责任<br>
                        9.4.1&nbsp;旅游者原因解除合同的，旅游者应根据航班、酒店、签证等相关取消或注销规则自行承担相应后果，在旅行不予退还相应费用。同时，应当根据以下规定，向在旅行支付以下费用及违约金：<br>
                        （1）旅游者提出解除合同或者按照本合同第十二条第2款约定由在旅行在行程开始前解除合同的，按下列标准扣除必要的费用：<br>
                        （1.1）在行程（不包含邮轮）开始前30日以内：</p>

                    <p>行程开始前29日至15日，按旅游费用总额的25%；</p>

                    <p>行程开始前14日至7日，按旅游费用总额的75%；</p>

                    <p>行程开始前6日至1日，按旅游费用总额的95%；</p>

                    <p>行程开始当日及行程当中解除合同的，按旅游费用总额的100%。</p>

                    <p><br>
                        （1.2）邮轮行程：</p>

                    <p>行程开始前89至45个工作日，3000元/人；</p>

                    <p>行程开始前44至15个工作日，按旅游费用总额的50%；</p>

                    <p>行程开始前15至8个工作日，按旅游费用总额的70%；</p>

                    <p>行程开始前7至出行日，按旅游费用总额的100%。</p>

                    <p>航次的更改：如更改船或出发时间，则按照取消和重新预定对待，客人需按以上规定支付相应的取消费用。</p>

                    <p>
                        名字的更改：付款之前可以更改全部名字；若已付款，在距出发日期30日以上可以免费改名字，但同舱内一个人的名字不能更改；在距出发日期30天（含）至出发前72小时（不含）可以更改名字，但至少同舱内一个人的名字不能更改，并需收取300元/人改名费用；72小时内不能更改名字！</p>

                    <p>如果取消预订日期遇节假日，请自动提前一个工作日。</p>

                    <p>如果产品有对退改签的特别说明，以产品中的说明为准。<br>
                        如果签订了旅游合同，以旅游合同为准。<br>
                        如若在旅行必要费用大于上述百分比金额时，在旅行将扣除必要损失的费用后退还给旅游者，但必要损失费用最高额不应当超过旅游费用总额。<br>
                        （2）旅游者未按合同约定或者未经在旅行同意，临时要求改变机票、酒店或租车等行程的，费用自理，并不得要求退回已支付且在旅行已预订的机票、酒店或租车等全部相关费用。<br>
                        （3）在旅行在扣除第（1）项所述业务损失费及违约金后，应当在旅游者退订通知到达日起5个工作日内向旅游者退还剩余旅行费用。旅游者通过第三方支付平台（如支付宝、银联等）付款的，退款将会通过第三方支付平台原路退回，由于第三方平台或银行系统造成的退款延迟，不属于在旅行应承担责任的范围。<br>
                        （4）所预订的春节、“十一”国庆节等黄金周旅游高峰期、法定的节假日及其他部分地方性重大节日期间的服务，旅游者无论何时取消预订或解除本合同，在旅行不承担返还任何费用的或承担任何其他责任的义务。<br>
                        （5）旅游行程中解除合同的，在旅行应协助旅游者返回出发地或者旅游者指定的合理地点。因旅行社或者履行辅助人的原因导致合同解除的，返程费用由在旅行承担；行程中按照本合同第十二条第2款，第十三条第2款约定解除合同的，返程费用由旅游者承担；按照本合同第十四条约定解除合同的，返程费用由双方分担。<br>
                        9.4.2&nbsp;在旅行违约责任<br>
                        （1）在旅行在行程开始前30日以内提出解除合同的，或者旅游者在行程开始前30日以内收到在旅行不能成团通知，不同意转团、延期出行和改签线路解除合同的，在旅行向旅游者退还已收取的全部旅游费用（不得扣除签证／签注等费用），并按下列标准向旅游者支付违约金：<br>
                        行程开始前29日至15日，支付旅游费用总额2%的违约金；<br>
                        行程开始前14日至7日，支付旅游费用总额4%的违约金；<br>
                        行程开始前6日至4日，支付旅游费用总额6%的违约金；<br>
                        行程开始前3日至1日，支付旅游费用总额8%的违约金；<br>
                        行程开始当日，支付旅游费用总额10%的违约金。<br>
                        如按上述比例支付的违约金不足以赔偿旅游者的实际损失，在旅行应当按实际损失对旅游者予以赔偿。<br>
                        在旅行应当在取消出团通知或者旅游者不同意不成团安排的解除合同通知到达日起5个工作日内，为旅游者办结退还全部旅游费用的手续并支付上述违约金。旅游者通过第三方支付平台（如支付宝、银联等）付款的，退款将会通过第三方支付平台原路退回，由于第三方平台或银行系统造成的退款延迟，不属于在旅行应承担责任的范围。<br>
                        （2）在旅行未按出团通知提供服务，或者未经旅游者同意擅自改变服务内容（行程中遇到不可抗力或者在旅行、履行辅助人已尽合理注意义务仍不能避免的事件除外），造成航班或者住宿标准降低的，应当依法承担继续履行、采取补救措施或者赔偿损失等违约责任。如经旅游者同意降低标准的，应当退还降低标准的差额，并承担差额部分100%向旅游者支付违约金。<br>
                        （3）在旅行应当在取消受托业务通知到达日起5个工作日内，向旅游者退还全额或者部分旅行费用，并支付上述违约金。旅游者通过第三方支付平台（如支付宝、银联等）付款的，退款将会通过第三方支付平台原路退回，由于第三方平台或银行系统造成的退款延迟，不属于在旅行应承担责任的范围。<br>
                        9.4.3&nbsp;由于旅游者自身原因导致合同不能履行或者不能按照约定履行，或者造成旅游者人身损害、财产损失的，在旅行不承担责任。<br>
                        9.4.4&nbsp;旅游者根据本合同约定向在旅行提出任何索赔的，应当向在旅行发出书面通知，通知应当列明具体事由及旅游者的索赔请求。</p>

                    <h3>十、权利义务的转让</h3>

                    <p>
                        10.1行程开始前，旅游者在事先征得在旅行同意的情况下，可以将其在本合同项下的义务转让给第三人；在事先通知在旅行的情况下，可以将其在本合同项下的权利转让给第三人。因此增加的费用由旅游者和第三人承担；该第三人在接受在旅行提供相应服务前应当提供相应的身份证明及旅游者的书面声明（附旅游者身份证复印件）。但在旅行有正当理由的（如机票、签证等已经办理，无法变更），可以拒绝。<br>
                        10.2旅游者同意，在不影响其使用所预定产品的前提下，在旅行可以将其在本合同项下的权利或义务转让给第三方并无需另行征得旅游者同意或者通知旅游者。</p>

                    <h3>十一、不可抗力、意外事件</h3>

                    <p>因不可抗力或者在旅行、履行辅助人不能预见的事件（意外事件），影响旅游行程的，按照下列情形处理：<br>
                        11.1合同不能继续履行的，在旅行和旅游者均可以解除合同，在旅行不因此而向旅游者承担返还费用等任何责任。合同不能完全履行的部分，在旅行免除相应的义务，但在旅行经向旅游者作出说明，可以在合理范围内变更合同，因此增加的费用由旅游者承担；旅游者不同意变更的，可以解除合同。<br>
                        11.2&nbsp;合同解除的，在旅行扣除已向本合同项下相关服务的第三方服务供应商（包括但不限于地接社或者履行辅助人）支付且不可退还的费用，以及其已经支付的其他成本后，将余款退还旅游者；合同变更的，因此增加的费用由旅游者自行承担，减少的费用退还旅游者。<br>
                        11.3如旅游者委托在旅行提供旅游服务期间，发生危及旅游者人身、财产安全的不可抗力或意外事件，在旅行应当协助旅游者采取合理的安全措施避免损失或防止损害扩大，因此支出的费用，由旅游者承担。<br>
                        11.4&nbsp;造成旅游者滞留的，如旅游者委托的服务内容包含旅游服务，在旅行应当采取合理的安置措施。因此增加的旅游者食宿费用、返程费用等，由旅游者自行承担。<br>
                        11.5因飞机、火车、班轮、城际客运班车等公共客运交通工具延误或者取消，以及第三方侵害等不可归责于在旅行的原因导致旅游者人身、财产权益受到损害的，在旅行不承担违约责任，但应当积极协助解决旅游者与责任方之间的纠纷。
                    </p>

                    <h3>十二、第三方损失及索赔</h3>

                    <p>
                        12.1旅游者在旅游活动中或者在解决纠纷时，损害在旅行、履行辅助人、旅游从业人员或者其他旅游者的合法权益的，旅游者应当承担赔偿责任。因旅游者造成在旅行之外的任何人的人身财产损失导致在旅行被该第三人索赔的，在旅行有权就所承担赔偿责任全额向该旅游者追偿。<br>
                        12.2由于公共交通经营者的原因造成旅游者人身损害、财产损失的，由公共交通经营者依法承担赔偿责任，在旅行协助旅游者向公共交通经营者索赔。公共交通经营者包括：飞机航班、列车、轮船、轮渡、地铁、城铁、公交（包括包机、包船、专列）等在旅行无法掌控其运行时间和运力安排的公共交通项目的经营者。
                    </p>

                    <h3>十三、法律适用及争议解决</h3>

                    <p>13.1法律适用<br>
                        本合同内容适用中华人民共和国法律（不包含中国香港、澳门、台湾地区的法律）。<br>
                        13.2&nbsp;争议解决<br>
                        13.2.1&nbsp;本合同项下发生的争议，由双方协商解决，或向有管辖权的旅游质监所、消费者协会等有关部门投诉。<br>
                        13.2.2&nbsp;双方均有权直接向哈尔滨市香坊区人民法院起诉，按照届时有效的中国诉讼法律规定进行审理和判决。</p>

                    <h3>十四、合同的构成</h3>

                    <p>
                        14.1旅游者在订购相应产品和服务时所同意遵守或接受的其他文件，均为本合同的组成部分。与本合同具有同等法律效力。上述文件与本合同内容发生冲突时，以签订时间在后者为准；同时签订的，以本合同约定为准。<br>
                        14.2本合同内容与《中华人民共和国合同法》等法律法规规定相冲突时，以相关法律法规规定为准。<br>
                        14.3本合同自旅游者下单支付完成起生效，本合同有效期限至旅游者支付相关费用、在旅行完成相应服务时止。<br>
                        本合同包含附件：风险须知及安全提示书、中国公民出国（境）旅游文明行为指南</p>

                    <h3>附件1：风险须知及安全提示书</h3>

                    <h3>（一）行前解约风险提醒：</h3>

                    <p>
                        1、确认出行安排：签约后，旅游者解约的，将给在旅行造成损失（该损失可能会涵盖旅游费用的大部分），该损失需由旅游者承担。按照合同约定，旅游者还需要向在旅行支付违约金。请旅游者详细阅读合同相关内容，充分考虑自身出行可行性。<br>
                        2、特殊情况解约：因旅游行程涉及的国家地区发生社会动荡、恐怖活动、重大污染性疫情、自然灾害等可能严重危及旅游者人身安全的情况，且双方未能协商变更合同的，均可在行前通知对方解约，旅游费用在扣除实际发生的费用后返还旅游者。
                    </p>

                    <h3>（二）人身财产安全警示：</h3>

                    <p>1、确保身体健康：确认自身身体条件能够适应和完成旅游活动；如需随时服用药物的，请随身携带并带足用量。<br>
                        2、注意饮食卫生：提高防护传染病、流行病的意识。注意用餐卫生，不食用不卫生、不合格的食品和饮料。<br>
                        3、做好个人防护：如旅途涉及热带、高原、海滨、草原等特殊气候、地理条件，应采取必要防护措施，充分了解目的地情况，备好相应服装鞋帽，做好防晒、防蚊虫、防高原反应等工作。晕车的旅游者，备好有效药物。旅途中有不良反应，及时说明。<br>
                        4、注意人身安全：请在自己能够控制风险的范围内活动，切忌单独行动，注意人身安全。旅游途中因特殊情况无法联系团队的或遇紧急情况的，应立即报警并寻求当地警察机关或中国驻当地使领馆的帮助。<br>
                        5、慎选自选活动：根据自身情况选择能够控制风险的自选项目，旅游者选择自选项目应当事前通知在旅行。如有心脏病、高血压、恐高症等，勿选择刺激性或高风险活动。潜水/跳伞/攀岩/蹦极/骑马/热气球/快艇等活动，更具危险性，请充分了解活动知识，服从指挥。建议另购特定保险。<br>
                        6、防范水上风险：水上游览或活动，应加倍注意安全，不可擅自下水或单独前往深水区或危险水域，应听从指挥和合理劝阻。<br>
                        7、遵守交通规则：通过马路时走人行横道或地下通道。行车途中不要在车内走动，老人和儿童要有成年人陪护，以防不确定危险。车辆在颠簸路段行驶过程中不要离开座位和饮食（主要是坚果类），以免发生呛水或卡咽危险。<br>
                        8、保管贵重物品：贵重物品随身携带或申请酒店的保险柜服务，勿放入交运行李、酒店房间里或旅游巴士上。随身携带财物稳妥安置，不要离开自己视线范围。游览、拍照、散步、购物时，随时注意和检查，谨防被盗遗失。<br>
                        9、携带旅行票证：旅行证件、交通票证请随身妥善保管，避免遗忘、丢失。<br>
                        10、保持通讯畅通：请保持手机号码与预留在在旅行的一致，保持畅通有效；并注意将手机随身携带以备紧急联系。<br>
                        11、理性购物消费：购物时注意商品质量及价格，并向商家索取正式发票。在旅行不对旅游者自行购物所产生的风险承担责任。<br>
                        12、旅行期间，旅游者应当自行妥善保管自身财物，在旅行不承担财物保管责任。旅游者委托履行辅助人保管财物的，在旅行不承担相关风险。</p>

                    <h3>（三）第三方责任告知：</h3>

                    <p>1、航班问题提醒：在旅行对航班因运力、天气等因素延误、变更、取消等无法掌控，如遇此种情况，在旅行将尽力避免损失扩大，并与航空公司协调。在旅行可能因此将对行程做出相应调整，届时敬请旅游者配合谅解。<br>
                        2、个人消费说明：非在旅行行程中的安排的购物、娱乐等项目，属旅游者个人消费行为，如产生纠纷或损失，在旅行不承担责任。</p>

                    <p>附件2：中国公民出国（境）旅游文明行为指南</p>

                    <h3>中国公民，出境旅游，注重礼仪，保持尊严。<br>
                        讲究卫生，爱护环境；衣着得体，请勿喧哗。<br>
                        尊老爱幼，助人为乐；女士优先，礼貌谦让。<br>
                        出行办事，遵守时间；排队有序，不越黄线。<br>
                        文明住宿，不损用品；安静用餐，请勿浪费。<br>
                        健康娱乐，有益身心；赌博色情，坚决拒绝。<br>
                        参观游览，遵守规定；习俗禁忌，切勿冒犯。<br>
                        遇有疑难，咨询领馆；文明出行，一路平安。<br>
                        <br>
                        营造文明、和谐的旅游环境，关系到每位游客的切身利益。做文明游客是我们大家的义务，请遵守以下公约：<br>
                        1、维护环境卫生。不随地吐痰和口香糖，不乱扔废弃物，不在禁烟场所吸烟。<br>
                        2、遵守公共秩序。不喧哗吵闹，排队遵守秩序，不并行挡道，不在公众场所高声交谈。<br>
                        3、保护生态环境。不踩踏绿地，不摘折花木和果实，不追捉、投打、乱喂动物。<br>
                        4、保护文物古迹。不在文物古迹上涂刻，不攀爬触摸文物，拍照摄像遵守规定。<br>
                        5、爱惜公共设施。不污损客房用品，不损坏公用设施，不贪占小便宜，节约用水用电，用餐不浪费。<br>
                        6、尊重别人权利。不强行和外宾合影，不对着别人打喷嚏，不长期占用公共设施，尊重服务人员的劳动，尊重各民族宗教习俗。<br>
                        7、讲究以礼待人。衣着整洁得体，不在公共场所袒胸赤膊；礼让老幼病残，礼让女士；不讲粗话。<br>
                        8、提倡健康娱乐。抵制封建迷信活动，拒绝黄、赌、毒。</h3>

                </div>
            </div>
        {% endifequal %}
        {% ifequal tag 'f' %}
            <div class="about_con_right fl">
                <div class="about_con_r_1">
                    <h2 class="f25">预订流程</h2>
                    <p>第一步：选择线路</p>

                    <p>第二步：填写订单</p>

                    <p>第三步： 1、在线支付&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1）立即确认（可立即支付）</p>

                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        2）二次确认（需确认位置）</p>

                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;2、银行汇款</p>

                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3、门店现付</p>

                    <p>第四步：完成预定</p>

                    <p>第五步：发送合同</p>

                    <p>第六步：发送出行通知</p>

                    <p>第七步：快乐出行</p>

                    <p>第八步：质量回访</p>

                </div>
            </div>
        {% endifequal %}
        {% ifequal tag 'g' %}
            <div class="about_con_right fl">
                <div class="about_con_r_1">
                    <h2 class="f25">达人招募</h2>
                    <h3>商务拓展经理</h3>

                    <p>哈尔滨/沈阳，经验3年，全职</p>

                    <p>职位描述：</p>

                    <p>1、梳理供应商需求体系，寻找和甄选合适的供应商，进行沟通洽谈并完成签约；</p>

                    <p>2、跨部门沟通跟进和参与供应商开发、签约、审核、上线、销售等一系列工作；</p>

                    <p>3、与产品和运营等团队配合、定期对供应商数据进行收集，进行一定的分析评选和淘汰；</p>

                    <p>4、与客服团队配合、定期分析供应商旅游产品的销售转化情况，及时进行调整；</p>

                    <p>5、与市场及公关团队配合进行市场或促销活动等</p>

                    <p>6、供应商合同管理和维护等；</p>

                    <p>7、协助进行商务拓展团队的管理工作。</p>

                    <p>岗位要求：</p>

                    <p>1、三年以上旅游电商工作经验、或一年以上旅游业供应商管理/BD工作经验；</p>

                    <p>2、熟悉旅游目的地产品市场情况；</p>

                    <p>3、对供应商如旅行社、旅游电商平台和海外地接社等的工作有一定了解；</p>

                    <p>4、具有较强的跨部门沟通协调能力，良好的团队合作精神；</p>

                    <p>5、良好的口头沟通能力，较强的商务拓展和开发能力；</p>

                    <p>6、热爱旅行，有一定旅行经验，对热门目的地有基本了解；</p>

                    <p>7、需能接受一定的出差；</p>

                    <p>&nbsp;</p>

                    <p>在线客服专员（出境游/国内游旅行顾问）</p>

                    <p>哈尔滨/沈阳，经验2年以上，大专以上学历，全职</p>

                    <p>职位描述：</p>

                    <p>1、熟悉旅游目的地产品线路和价格信息，对咨询用户进行推荐；</p>

                    <p>2、解答客户在预订产品时的疑问，了解客户需求，为其旅行提供帮助与建议；</p>

                    <p>3、跟踪订单保证服务的全程落实和执行；</p>

                    <p>4、与用户及计调操作沟通，解决用户使用服务中的问题；</p>

                    <p>5、协助处理用户在旅行期间的突发状况和可能的投诉；</p>

                    <p>6、用户完成旅行消费后进行回访跟踪和相关数据归集；</p>

                    <p>7、协助优化旅游产品预订和确认流程</p>

                    <p>岗位要求：</p>

                    <p>1、两年以上旅游行业在线客服/呼叫中心/旅行社门店销售工作经验；</p>

                    <p>2、熟悉国内游、出境游及目的地产品市场情况及签证情况等；</p>

                    <p>3、熟悉主要的网上支付系统，熟练使用word/Excel等办公软件；</p>

                    <p>4、普通话标准，等以上水平；</p>

                    <p>5、根据公司需要，有可能安排轮班工作；</p>

                    <p>6、有良好的沟通协调能力和服务意识；</p>

                    <p>7、热爱旅行，有一定自由行或自助游旅行经验；</p>

                    <p>&nbsp;</p>

                    <p>新媒体运营</p>

                    <p>哈尔滨/沈阳，全职</p>

                    <p>职位描述：</p>

                    <p>1、官方SNS运营，增长粉丝、维护粉丝、与粉丝互动增加粉丝品牌忠诚度，辅助执行编辑执行市场活动，辅助微信内容及网站内容的采写编辑。</p>

                    <p>岗位要求：</p>

                    <p>1、具备良好的亲和力；</p>

                    <p>2、善于运用微博微信等社交媒体；</p>

                    <p>3、了解80后90后需求、心里，能在网络世界游刃有余；</p>

                    <p>4、掌握基本平面或网页设计技能，可以熟练使用图片处理软件，能进行图片编辑，有一定设计基础；</p>

                    <p>5、性格开朗，容易沟通；</p>

                    <p>6、负责任有责任心；</p>

                    <p>7、有耐心踏实；</p>

                    <p>&nbsp;</p>

                    <p>新媒体营销</p>

                    <p>哈尔滨/沈阳，经验1年以上，大专不限，全职</p>

                    <p>职位描述：</p>

                    <p>1、管理并运营在旅行微信、微博、QQ空间、贴吧等社会化媒体平台，负责日常发布内容的素材搜集、&nbsp; 内容策划、文案撰写；</p>

                    <p>2、对新媒体营销及信息有深入研究能力和敏锐的洞察力，有实操经验和成功案例；</p>

                    <p>3、快速响应社会、娱乐等网络热点话题，擅长借势造势，独立完成热点营销事件的策划和执行；</p>

                    <p>4、建立有效的新媒体运营体系提升用户的活跃度，增加品牌的知名度和美誉度；</p>

                    <p>岗位要求：</p>

                    <p>1、文能提笔控萝莉，武会搬砖术防身，若没有一个闷骚的重口味心理，有个装小清新的脸盘也可以；</p>

                    <p>2、不在乎你是不是宅基腐，只要你是微博控微信控，最好还是个潜在的段子手；</p>

                    <p>3、创意天马行空，敢想敢做，文艺可以，逗比也无妨；</p>

                    <p>4、请在简历里增加自己的一两个社会化媒体帐号或地址；</p>

                    <p>5、若能再会点PS，自己还喜欢旅行，那就真真是极好的了；</p>

                    <p>&nbsp;</p>

                    <p>在线操作计调（出境游/国内游OP）</p>

                    <p>哈尔滨/沈阳，经验2年以上，大专以上，全职</p>

                    <p>职位描述：</p>

                    <p>1、对旅游产品订单进行具体操作确认；</p>

                    <p>2、与供应商沟通，协助解决产品预订流程和用户使用服务中的问题；</p>

                    <p>3、处理用户在旅行期间的突发状况和可能的投诉；</p>

                    <p>4、用户完成旅行消费后进行相关数据归集；</p>

                    <p>5、供应商账单核算，定期整理订单业务报表；</p>

                    <p>6、协助优化旅游产品内容及预订流程；</p>

                    <p>岗位要求：</p>

                    <p>1、两年以上OP工作经验，有旅游电商网站经验者优先；</p>

                    <p>2、熟悉出境游/国内游及目的地产品操作情况及签证情况等；</p>

                    <p>3、熟悉主要的网上支付系统，熟练使用word/Excel等办公软件；</p>

                    <p>4、英文四级或同等以上水平；</p>

                    <p>5、大专以上学历；</p>

                    <p>6、有良好的沟通协调能力和服务意识；</p>

                    <p>7、工作细致、有责任心、有耐心，能承受一定的工作压力，能接受旅游旺季加班；</p>

                    <p>&nbsp;</p>

                    <p>在线客服经理</p>

                    <p>哈尔滨/沈阳，经验1年以上，大专以上学历，全职</p>

                    <p>职位描述：</p>

                    <p>1、负责制定并执行公司客服部门的管理标准、业务流程和各项规章制度，负责公司客服部门整体业务的运营管理（包括电话/在线客服、外呼回访等），负责客服团队日常管理；</p>

                    <p>2、带领客服和操作团队并一起开展在线和电话的咨询回复、旅游线路推荐和报价、订单处理、订单操作、回访追踪、投诉处理等；</p>

                    <p>3、具体负责客服团队的培训、绩效考核及员工激励等工作；</p>

                    <p>4、根据公司和客服部门业务发展需要以及用户咨询量情况，合理排班，并提出对客服人员缺口的需求，保证良好的回复率/起接率；</p>

                    <p>5、定期对在线询单数据和电话咨询数据进行收集分析，提高转化率和用户满意度；</p>

                    <p>岗位要求：</p>

                    <p>1、三年以上旅游行业在线客服/呼叫中心/旅行社门店销售工作经验，一年以上旅游客服或销售管理经验；</p>

                    <p>2、熟悉出境游/国内游及目的地产品市场情况、熟悉主要热门出境目的地及签证情况等；</p>

                    <p>3、对主要的供应商如旅行社、旅游电商平台和地接社等有一定了解；</p>

                    <p>4、具有较强的跨团队沟通协调能力，较高的执行力及推动力，抗压能力强；</p>

                    <p>5、热爱旅行，有一定自由行或自助游旅行经验；</p>

                    <p>6、熟悉主要的网上支付系统，熟练使用Excel等办公软件；</p>

                    <p>7、英文四级或同等以上水平；</p>

                    <p>&nbsp;</p>

                </div>
            </div>
        {% endifequal %}
        {% ifequal tag 'h' %}
            <div class="about_con_right fl">
                <div class="about_con_r_1">
                    <h2 class="f25">供应商</h2>
                    <p><span style="\&quot;font-family:" 黑体;\"="">黑龙江省中旅国际旅有限公司</span></p>

                    <p>
                        黑龙江省中国旅行社始建于一九九五年（后改名黑龙江省中旅国际旅行社有限公司），已经走过近50年历史、是经国家旅游局批准、国家工商局注册的大型国际旅行社，曾被国家旅游局授予“全国百强旅游企业”的光荣称号，被黑龙江省旅游局评为“黑龙江省五强旅游企业”被哈尔滨市政府冰雪办公室授予“哈尔滨市十佳旅行社”并曾多次被中国中旅集团评为“中旅杯”先进企业、先进集体。</p>

                    <p><span style="\&quot;font-family:" 黑体;\"="">北京众信国际旅行社股份有限公司</span></p>

                    <p>
                        北京众信国际旅行社股份有限公司是经国家旅游局、北京市工商行政管理局批准设立的具有独立法人资格的股份制企业、特许经营中国公民出境、入境、国内旅游业务（经营许可证号：L-BJ-CJ00071)。2013年被评为北京市5A级旅行社，2014年1月23号、众信旅游成功在深交所挂牌上市。</p>

                    <p><span style="\&quot;font-family:" 黑体;\"="">北京凯撒旅游</span></p>

                    <p>
                        凯撒旅游创始于1993年，经过20多年的稳健发展，是CATS（中国旅行社协会）会员、BTIA（北京市旅游行业协会）会员、PATA（亚太旅游组织）成员、是欧洲华人旅游业联合总会创始机构及会员、美国旅行商协会会员。经营范围包括出境旅游（许可证号：L-BJ-CJ00051）、国内旅游、会奖旅游、旅游电子商务等业务，2015年10月、凯撒旅游成功上市登陆A股市场，成为资本市场中的一员，股票代码：000796.</p>

                    <p><span style="\&quot;font-family:" 黑体;\"="">上海春秋国际旅行社有限公司</span></p>

                    <p>
                        上海春秋国际旅行社有限公司是春秋航空的母公司，成立于1981年，目前已拥有四千余名员工、年营收六十亿元，业务涉及旅游、航空、酒店、会议、体育赛事等，是国际会议协会（ICCA）在中国旅行社中最早的会员，被授予上海市旅行社中唯一著名商标企业，是中国第一家全资创办航空公司的旅行社。</p>

                    <p><span style="\&quot;font-family:" 黑体;\"="">港中旅集团公司</span></p>

                    <p>
                        中国港中旅集团公司是香港中旅（集团）有限公司的母公司，创立于1928年4月，是香港四大驻港中资企业之一，港中旅集团控股的香港中旅国际投资有限公司是集团发展旅游主业的上市公司，经营集团在内地、香港、海外的地面旅行社，网上旅行社以及酒店、景区、度假区、高尔夫等旅游相关业务，具有完善的现代旅游产业链和较强的旅游综合投资能力。</p>

                    <p><span style="\&quot;font-family:" 黑体;\"="">海航旅游集团有限公司</span></p>

                    <p>
                        海航旅游集团有限公司2007年3月成立，是海航集团三大战略业态之一航空旅游的核心企业产业，覆盖航空、旅游、IT与互联网、投资金融、酒店、及食品行业，是中国唯一拥有全产业链的旅游综合运营商，2014年海航旅游集团荣获世界旅游大奖“2014年亚洲领先旅游管理企业”、“2014中国领先旅游管理企业”两项大奖，海航旅游是中国唯一一家获此殊荣的本土旅游企业。</p>

                    <p><span style="\&quot;font-family:" 黑体;\"="">中青旅控股股份有限公司</span></p>

                    <p>
                        中青旅控股股份有限公司是以共青团中央直属企业中国青旅集团公司为主发起人、通过募集方式设立的股份有限公司，1997年11月26日创立、12月3日公司股票在上海证券交易所上市，是我国旅行社行业首家A股上市公司（股票代码：600138）、北京首批5A级旅行社、是中国旅游行业的领先品牌和综合运营商。</p>

                    <p>以及更多国内及海外数百家知名旅游品牌供应商：</p>

                    <p>&nbsp;</p>

                    <p>&nbsp;</p>

                    <p>&nbsp;</p>

                </div>
            </div>
        {% endifequal %}
    </div>

    {% include "ajx/includes/footer.html" %}

{% endblock %}