<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta property="qc:admins" content="376020776761501676375" />
	<meta property="wb:webmaster" content="4e1b6ed628ed4231" />
	<link rel="stylesheet" href="{% static 'css/style.css'%}" charset="utf-8">
	{% block css %}
  	{% endblock %}
  	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	{% block main %}
  	{% endblock %}
	<script type="text/javascript" src="{% static 'js/jquery.min.js'%}"></script>
	{% block js %}
  	{% endblock %}
	<!--div style="display:none">
		<script src="http://s95.cnzz.com/stat.php?id=1257067394&web_id=1257067394" language="JavaScript"></script>
	</div-->
</body>
</html>