{% extends "ajx/base.html" %}
{% load staticfiles %}

{% block title %}爱简行|专注于东北旅游服务{% endblock %}

{% block css %}
<link href="{% static 'css/css.css'%}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/reset.css'%}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
<div class="overall">
<div class="container">
	<div class="index_left">
    	<div class="logo">
        	<h1>爱简行</h1>
        </div>
        
        <div class="outer">
        	<div class="holder">
                <h2><p>出发地</p></h2>
                <div  class="index_left_1">
                    <ul>
                        <li><a href="#" style="color:#f7a142;">全部</a></li>
                        {% for setout in setouts %} 
                        <li><a href="#">{{setout.name}}</a></li>
						{% endfor %}
                        <li class="i_more hbg_wu"><a href="javascript:void(0)">更多>></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="outer">
        	<div class="holder">
                <h2 class="index_left_2"><p>目的地<span>国内</span></p></h2>
                <div class="index_left_1 index_left_gn">
                    <ul>
                        <li><a href="#" style="color:#f7a142;">全部</a></li>
                        {% for destin in destins %} 
                        <li><a href="#">{{destin.name}}</a></li>
						{% endfor %}
                        <li class="i_more hbg_wu"><a href="javascript:void(0)">更多>></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="outer">
        	<div class="holder">
                <h2 class="index_left_3"><p>目的地<span>出境</span></p></h2>
                <div class="index_left_1 index_left_gn">
                    <ul>
                        <li><a href="#" style="color:#f7a142;">全部</a></li>
                        {% for destout in destouts %} 
                        <li><a href="#">{{destout.name}}</a></li>
						{% endfor %}
                        <li class="i_more hbg_wu"><a href="javascript:void(0)">更多>></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="outer">
        	<div class="holder">
                <h2 class="index_left_4"><p>出游时间</p></h2>
                <div class="index_left_1 index_left_shj">
                    <ul>
                        <li><a href="#" style="color:#f7a142;">全部</a></li>
                        <li><a href="#">2月</a></li>
                        <li><a href="#">3月</a></li>
                        <li><a href="#">4月</a></li>
                        <li><a href="#">5月</a></li>
                        <li><a href="#">6月</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--index_left-->

    <div class="index_right">
    	<div class="index_right_top">
        	<ul>
            	<li><a href="#">我的订单</a></li>
                <li>|</li>
                <li><a href="#">注册</a></li>
                <li>|</li>
                <li><a href="#">登录</a></li>
                <li>|</li>
                <li class="index_right_top_li7">400-0450-718</li>
            </ul>
        </div>
        <div class="header">
        	<div class="nav">
            	<ul>
                	<li class="thisclass"><a href="#">线路首页</a></li>
                    <li class="index_nav_thgc_show">
                    <a href="#">特惠广场</a>
                    <div class="hot"><img src="{% static 'images/hot.png'%}" /></div>
                    
                        <div class="index_nav_ztxl">
                            <a href="#"><img src="{% static 'images/index_nav_xl_pic_03.jpg'%}" /></a>
                            <a href="#"><img src="{% static 'images/index_nav_xl_pic_05.jpg'%}" /></a>
                            <a href="#"><img src="{% static 'images/index_nav_xl_pic_10.jpg'%}" /></a>
                            <a href="#"><img src="{% static 'images/index_nav_xl_pic_12.jpg'%}" /></a>
                            <a href="#" class="index_nav_ztxl_w"><img src="{% static 'images/index_nav_xl_pic_16.jpg'%}" /></a>
                            <a href="#" class="index_nav_ztxl_w"><img src="{% static 'images/index_nav_xl_pic_18.jpg'%}" /></a>
                        </div><!--index_nav_ztxl-->
                    
                    </li>
                    <li><a href="#">东北游</a></li>
                    <li><a href="#">定制</a></li>
                </ul>
            </div>
            <div class="search">
            	<form>
            	<div class="search_in"><input name="" type="text" value="请输入您要搜索的目的地" onfocus="if (value =='请输入您要搜索的目的地'){value =''}" onblur="if (value ==''){value='请输入您要搜索的目的地'}"/></div>
                <div class="search_but"><input name="" type="button" /></div>
                </form>
            </div>
        </div><!--header-->
        <div class="banner">
          <div class="js_imgs_block">
            <div id="slideshow_wrapper">
              <div id="slideshow_photo">
              {% for slidebanner in slidebanners %}
              	{% if forloop.first %}
              		<a style="z-index:2" href="{{slidebanner.link}}" index="{{forloop.counter}}" target="blank"><img src="media/{{slidebanner.image}}"></a>
              	{% else %}
              		{% if forloop.forloop == 2 %}
						<a style="z-index:1" href="{{slidebanner.link}}" index="{{forloop.counter}}" target="blank"><img src="media/{{slidebanner.image}}"></a>
              		{% else %}
              			<a style="z-index:1" href="{{slidebanner.link}}" index="{{forloop.counter}}" target="blank"><img imgsrc="media/{{slidebanner.image}}"></a>
              		{% endif %}
              	{% endif %}
              {% endfor %}
              </div>
              <div id="slideshow_footbar"></div>
            </div>
          </div>
        </div>

        <div class="index_r_con">
        	<div class="tab index_r_tb">
                <div class="con_div1">
                    <h2><span>沈阳 - 厦门</span> | 精品路线</h2>
                    <div class="con_div_r">
                    	<span>排序：</span>
                        <ul class="tab-hd con_div1_r">
                        <li>默认</li>
                        <li>价格</li>
                        <li>热卖</li>
                        </ul>
                    </div>
                </div>
                <ul class="tab-bd con_div1_c">
                    <li>
                    	{% for item in indexitems %}
                    	{% if item.type == 'route' %}
                    	<div class="con_1_c_1">
                        	<div class="con_1_c_1_left">
                            	<img src="media/{{item.content.listPic}}" />
                                <div class="dw">{{item.content.get_feature_display}}</div>
                                <div class="con_1_c_1_hide">
                                	<p>剩余天数：<span>8天13小时</span>　　余位：<span>{{item.content.adultLeft}}位</span></p>
                                </div>
                            </div>
                            <div class="con_1_c_1_right">
                            	<div class="con_1_c_1_r_1">
                                	<h2>{{item.content.destination}}出发 {{item.content.get_types_display}}</h2>
                                	<h3>{{item.content.summary}}</h3>
                                </div>
                                <div class="con_1_c_1_r_2">
                                	<dl class="con_1_c_1_r_dl1">
                                    	<dt>交通：</dt>
                                        <dd>{{item.content.get_goType_display}}去</dd>
                                        <dd>{{item.content.get_backType_display}}回</dd>
                                    </dl>
                                    <dl class="con_1_c_1_r_dl2">
                                    	<dt>日期：</dt>
                                        <dd>02月16日</dd>
                                        <dd class="con_1_c_1_r_2_sx">|</dd>
                                        <dd>02月17日</dd>
                                        <dd class="con_1_c_1_r_2_sx">|</dd>
                                        <dd>02月18日</dd>
                                    </dl>
                                    <div class="clear"></div>
                                    <ul>
                                    	<li class="con_1_c_1_r_2_li1"><span>{{item.content.realPrice}}</span>元起</li>
                                        <li class="con_1_c_1_r_2_li2">原价：￥{{item.content.marketPrice}}</li>
                                        <li class="con_1_c_1_r_2_li3"><a href="#">查看详情</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
						
						{% else %}
						<div class="con_1_c_ad1"><a href="{{item.content.link}}"><img src="media/{{item.content.image}}" /></a></div>
						{% endif %}
                    	{% endfor %}
                        <div class="con_1_c_page">
                        	<a href="#" class="con_1_c_page_this">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a href="#">7</a><a href="#">下一页</a><a href="#">尾页</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div><!--index_r_con-->
   </div><!--index_right-->
</div><!--container-->
</div><!--overall-->

{% include "ajx/includes/footer.html" %}
{% include "ajx/includes/sidebar.html" %}
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function(){

	$(function () {
		$(window).scroll(function(){

		});
		//当点击跳转链接后，回到页面顶部位置
		$("#back-to-top").click(function(){
		$("body,html").animate({scrollTop:0},1000);
		return false;
		});
	});
});
</script>


<script type="text/javascript">
$(".cha").click(function(){
	$(".sidebar").hide()
	$(".ycl_dd").hide()
	$(".xs") .slideDown();	
	})

$(".xs").click(function(){
	$(".sidebar").show()
	$(".ycl_dd").show()
	$(".xs") .slideUp();	
	})

</script>


<!--script src="{% static 'js/backtop.js'%}"></script-->
<script type="text/javascript">
// $(function(){
// 		$(".i_more a").click(function(){
// 			if($(this).text()=="更多>>"){
// 			 $(this).parent(".i_more").siblings(".i_hide").slideDown();
// 			 $(this).html("收起");
// 			 $(this).addClass("j_sj");
//              }
// 			 else{
// 			 $(this).parent(".i_more").siblings(".i_hide").slideUp();
// 			 $(this).html("更多>>");	 
// 			 $(this).removeClass("j_sj");
//              }
// 			})
// 		});

</script>
<script type="text/javascript" src="{% static 'js/swf.js'%}"></SCRIPT>
<script type="text/javascript" src="{% static 'js/mouse_hover.js'%}"></script>
<script type="text/javascript" src="{% static 'js/sns-share.js'%}"></script>
<script>
    $(function(){
       var title = "爱简行-专注于东北旅游服务！";
       var pic = "http://www.i-xing.com/Public/page/images/logo_03.png";
     
        $('body').xuanfengSnsShare({
            tsina:{
                url : encodeURIComponent(window.location.href),
                title: title,
                pic: pic
            },
            tqq:{
                url : encodeURIComponent(window.location.href),
                title: title,
                pic: pic 
            },
            tqzone:{
                url : encodeURIComponent(window.location.href),
                title: title,            
                pic: pic 
            }
        });

        // 微信分享    
        $(".share_weixin").mouseover(function(){
            $("#ewmimg").remove();
            var thisURL = window.location.href,
                strwrite = "<img id='ewmimg' class='ewmimg' src='http://qr.liantu.com/api.php?text=" + thisURL + "' width='85' height='85' alt='爱简行 二维码分享' />";
            $("#ewm").prepend(strwrite);
            $("#wemcn").show();
        });
        // 微信分享    
        $(".share_weixin").mouseleave(function(){
            $("#wemcn").hide();
        });

    })
    </script>
{% endblock %}
