{% extends "ajx/base.html" %}
{% load staticfiles %}
{% load index_tags %}
{% load pagination_tags %}

{% block title %}在旅行|专注超值尾单、自由行定制旅游!{% endblock %}

{% block css %}

{% endblock %}

{% block main %}

{% include "ajx/includes/login.html" %}

<div class="overall">
<div class="container">
	
	{% index_left setouts destins destouts S %}

    <div class="index_right">
    	
        {% include "ajx/includes/header_route.html" %}

        <div class="banner">
          <div class="js_imgs_block">
            <div id="slideshow_wrapper">
              <div id="slideshow_photo">
              {% for slidebanner in slidebanners %}
              	{% if forloop.first %}
              		<a style="z-index:2" href="{{slidebanner.link}}" index="{{forloop.counter}}" target="blank"><img src="media/{{slidebanner.image}}"></a>
              	{% else %}
              		{% if forloop.forloop == 2 %}
						<a style="z-index:1" href="{{slidebanner.link}}" index="{{forloop.counter}}" target="blank"><img src="media/{{slidebanner.image}}"></a>
              		{% else %}
              			<a style="z-index:1" href="{{slidebanner.link}}" index="{{forloop.counter}}" target="blank"><img imgsrc="media/{{slidebanner.image}}"></a>
              		{% endif %}
              	{% endif %}
              {% endfor %}
              </div>
              <div id="slideshow_footbar"></div>
            </div>
          </div>
        </div>

        <div class="index_r_con">
        	<div class="tab index_r_tb">
                <div class="con_div1">
                    <h2><span>{% if setOutObj %}{{setOutObj.name}}{% else %}全部{% endif %} - {% if destObj %}{{destObj.name}}{% else %}全部{% endif %}{% if month %} - {{month}}月{% endif %}</span> | 精品路线</h2>
                    <div class="con_div_r">
                    	<span>排序：</span>
                        <ul class="tab-hd con_div1_r">
                        <li>默认</li>
                        <li>价格</li>
                        <li>热卖</li>
                        </ul>
                    </div>
                </div>
                <ul class="tab-bd con_div1_c">
                    <li>
                    	{% autopaginate indexitems 23 %}
                    	{% for item in indexitems %}
                    	{% if item.type == 'route' %}
                    	<div class="con_1_c_1">
                        	<div class="con_1_c_1_left">
                            	<img src="/media/{{item.content.listPic}}" />
                                <div class="dw dw{{item.content.feature}}">{{item.content.get_feature_display}}</div>
                                <div class="con_1_c_1_hide">
                                	<p>剩余天数：<span>{{item.daysLeft}}天</span>　　余位：<span>{{item.sumOfLeft}}位</span></p>
                                </div>
                            </div>
                            <div class="con_1_c_1_right">
                            	<div class="con_1_c_1_r_1">
                                	<h2>{{item.content.destination}}出发 {{item.content.get_types_display}}</h2>
                                	<h3>{{item.content.summary}}</h3>
                                </div>
                                <div class="con_1_c_1_r_2">
                                	<dl class="con_1_c_1_r_dl1">
                                    	<dt>交通：</dt>
                                        <dd>{{item.content.get_goType_display}}去</dd>
                                        <dd>{{item.content.get_backType_display}}回</dd>
                                    </dl>
                                    <dl class="con_1_c_1_r_dl2">
                                    	<dt>日期：</dt>
                                    	{% for godate in item.godates%}
                                    	{% if forloop.first %}
                                    	<dd>{{godate.date|date:"m月d日"}}</dd>
                                    	{% else %}
                                    	<dd class="con_1_c_1_r_2_sx">|</dd>
                                        <dd>{{godate.date|date:"m月d日"}}</dd>
                                    	{% endif %}
                                    	{% endfor %}
                                    </dl>
                                    <div class="cl"></div>
                                    <ul>
                                    	<li class="con_1_c_1_r_2_li1"><span>{{item.content.realPrice}}</span>元起</li>
                                        <li class="con_1_c_1_r_2_li2">原价：￥{{item.content.marketPrice}}</li>
                                        <li class="con_1_c_1_r_2_li3"><a href="/w/route/{{item.content.id}}">查看详情</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
						
						{% else %}
						<div class="con_1_c_ad1"><a href="{{item.content.link}}"><img src="media/{{item.content.image}}" /></a></div>
						{% endif %}
                    	{% endfor %}
						{% paginate %}
                    </li>
                </ul>
            </div>
        </div><!--index_r_con-->
   </div><!--index_right-->
</div><!--container-->
</div><!--overall-->

{% include "ajx/includes/footer.html" %}
{% include "ajx/includes/sidebar.html" %}
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/swf.js'%}"></SCRIPT>
<script type="text/javascript" src="{% static 'js/mouse_hover.js'%}"></script>
{% endblock %}
