{% extends "ajx/base.html" %}
{% load staticfiles %}
{% load route_tags %}
{% load pagination_tags %}

{% block title %}东北游|{{S.name}}{% endblock %}

{% block css %}

{% endblock %}

{% block main %}

{% include "ajx/includes/login.html" %}
{% include "ajx/includes/header.html" %}

{% if banner %}
<div class="destination_banner" id="destination_banner1">
	<a href="{{banner.link}}" target="blank"><img src="media/{{banner.image}}" /></a>
</div>
{% endif %}
<div class="destination_mbx">
	<p>首页 > 目的地</p>
</div>

{% route_top setouts dests traveltypes %}
{% if not routes %}
<div class="sousuowu_pic">
        <img src="{% static 'images/sousuowu_pic_03.jpg'%}" />
</div>
{% endif %}
<div class="destination_center">
<div class="tab dest_c_tab">
    {% if routes %}
	<div class="dest_c_tab_h">
        <ul class="dest_tab_l fl">
            <li>默认</li>
            <li>价格</li>
            <li>热卖</li>
        </ul>
    </div>
    {% endif %}
    <ul class="dest_tab_con">
        <li>
        	<ul class="dest_tab_con_ul">
                {% autopaginate routes 12 %}
            	{% for route in routes %}
                <li class="dest_tab_con_ul_liw">
                	<div class="dest_tab_ul_pic">
                    	<a href="#"><img src="media/{{route.listPic}}" /></a>
                        <div class="dest_tab_ul_pic_t">
                        	<p>{{route.summary}}</p>
                        </div>
                    </div>
                	<div class="dest_tab_ul_1">
                    	<div class="dest_tab_ul_1_p fl">
                    		<p><a href="#">{{route.name}}</a></p>
                        </div>
                        <div class="dest_tab_ul_1_r fr">{{route.destination}}</div>
                    </div>
                    <div class="dest_tab_ul_2">
                    	<div class="dest_tab_ul_2_p fl">
                        	<span class="dest_tab_ul_2_p_span1">￥</span>
                            <span class="dest_tab_ul_2_p_span2">{{route.realPrice}}</span>
                            <span class="dest_tab_ul_2_p_span3">原价：</span>
                            <span class="dest_tab_ul_2_p_span4">￥{{route.marketPrice}}</span>
                        </div>
                        <div class="dest_tab_ul_2_r fr">
                        <span>起</span>{{route.setOut}}
                        </div>
                    </div>
                    {% if route.feature != 0 %}
                	<div class="dest_li_dw dest_li_dw{{route.feature}}">{{route.get_feature_display}}</div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>
<div class="cl"></div>
<div class="dest_page">
     {% paginate %}
</div>

</div><!--center-->
<div class="cl"></div>

{% include "ajx/includes/footer.html" %}
{% include "ajx/includes/sidebar.html" %}

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/north.js'%}"></script>
<script type="text/javascript" src="{% static 'js/mouse_hover.js'%}"></script>
{% endblock %}
