{% extends "ajx/base.html" %}
{% load staticfiles %}
{% load extra_tags %}

{% block title %}东北游详情|{{S.name}}{% endblock %}

{% block css %}

{% endblock %}

{% block main %}

{% include "ajx/includes/login.html" %}
{% include "ajx/includes/header.html" %}
<div class="cl"></div>
<div class="destination_mbx">
	<p>首页 > 东北游 > {{route.name}}</p>
</div>
<div class="special_con">
  <div class="special_con_top">
    <div class="special_con_top_h special_con_top_h{{route.types|odd:6}} fl">
      <h2>{{route.get_types_display}}</h2>
    </div>
    <div class="special_con_top_r fl">
      <h2>{{route.name}}</h2>
      <p><span>（编号：{{route.code}}）</span>{{route.summary}}</p>
    </div>	
  </div>
  <div class="cl"></div>
  <div class="special_con_div1">
    <div class="special_con_1_banner fl">
      <div id="jcImg" class="TmpStyle">
        <ul>
          {% for pic in piclist %}
          <li><a><img src="media/{{pic.image}}" alt="{{pic.title}}"></a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="special_con_1_r fl">
      <form action="/w/confirm/" method="post">
        <input type="hidden" name="t" value="north" />
        <input type="hidden" name="rid" value="{{route.id}}" />
        <div class="special_con_1_r_1">
          <p>儿童：￥{{route.childPrice}}起/人</p>
          <p class="special_con_1_r_1_d">￥<span>{{route.realPrice}}</span>元/人</p>
          <div class="special_con_1_r_1_an">
            {% if request.session.LOGIN %}
            <input type="submit" value=""/>
            {% else %}
            <input class="popup" data="login"/>
            {% endif %}
          </div>
        </div>
  			<div class="special_con_1_r_2">
          <h2>方案详情</h2>
  				<table width="450" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="92" height="33" align="center" valign="middle" class="pecial_con_1_bsh">起/止地</td>
              <td width="175" align="center" valign="middle">{{route.setOut}}起</td>
              <td width="175" align="center" valign="middle">{{route.destination}}止</td>
            </tr>
            <tr>
              <td height="33" align="center" valign="middle" class="pecial_con_1_bsh">交通信息</td>
              <td align="center" valign="middle">{{route.get_goType_display}}去</td>
              <td align="center" valign="middle">{{route.get_backType_display}}回</td>
            </tr>
            <tr>
              <td height="33" align="center" valign="middle" class="pecial_con_1_bsh">发团日期</td>
              <td align="center" valign="middle"></td>
              <td align="center" valign="middle">
                {% if godates %}
                <select name="dateid">
                  <volist>
                    {% for godate in godates %}
                    <option value="{{godate.id}}">{{godate.date}}</option>
                    {% endfor %}
                  </volist>
                </select>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td height="53" align="center" valign="middle" class="pecial_con_1_bsh">出行人数</td>
              <td align="center" valign="middle">
              <div class="special_con_1_jj">
             	    <div class="wrap fl">
                      <div class="reduce reduce1 reduceAdult"><a>-</a></div>
                      <input class="text text1 textAdult" name="adult" type="text" value="1"/>
                      <div class="add add1 addAdult"><a>+</a></div>
                  </div>
                  <div class="fl special_con_1_ren">成年</div>
              </div>   
              </td>
              <td align="center" valign="middle">
              <div  class="special_con_1_jj">
                  <div class="wrap fl">
                      <div class="reduce reduce1 reduceKid"><a>-</a></div>
                      <input class="text text1 textKid" name="child" type="text" value="0"/>
                      <div class="add add1 addKid"><a>+</a></div>
                  </div>
                  <div class="fl special_con_1_ren">儿童</div>
              </div>    
              </td>
            </tr>
     		  </table>
  			</div>
        {% if route.needConfirm == 1%}
        <div class="special_con_1_r_3 ec"><input name="" type="button"  value="二次确认"/><div class="erciqueren_special"><p>网站上展示可预订之服务分为"立即确认"及"二次确认"两种。"立即确认"的服务的剩余名额即"余位"为准确的，旅游者下单之后可立即支付，支付成功即认为交易成功。"二次确认"产品的"余位"仅供参考，旅游者下单后无法立即支付，需与爱简行工作人员联系，待工作人员确认后方可支付。支付成功同样认为交易成功。</p></div></div>
        {% else %}
        <div class="special_con_1_r_3 lj"><input name="" type="button"  value="立即确认"/><div class="erciqueren_special"><p>网站上展示可预订之服务分为"立即确认"及"二次确认"两种。"立即确认"的服务的剩余名额即"余位"为准确的，旅游者下单之后可立即支付，支付成功即认为交易成功。"二次确认"产品的"余位"仅供参考，旅游者下单后无法立即支付，需与爱简行工作人员联系，待工作人员确认后方可支付。支付成功同样认为交易成功。</p></div></div>
        {% endif %}
      </form>
    </div>
  </div><!--special_con_div1-->
</div><!--special_con-->
<div class="cl"></div>
<div class="special_con_div2">
	<div class="wrap_dhgs">
    <div class="xianlumoban mt20">
      <ul class="xianlumoban_ul">
      	<li><a class="s1 cur">产品详情</a></li>
        <li><a class="s2">费用说明</a></li>
        <li><a class="s3">参考行程</a></li>
        <li><a class="s4">购买须知</a></li>
        <li><a class="s5">网签协议</a></li>
        <li><a class="s6">热门推荐</a></li>
      </ul>
    </div>
    <div class="jz_30w">
      <div id="s1">
          <div class="dr_title2 sTop" >
               <h2>产品详情</h2><p class="note">本产品由{{route.supplyName}}提供服务</p>
          </div>
          <div class="editor_box">
              {% autoescape off %} 
              {{route.detail}}
              {% endautoescape %}
          </div>
      </div><!--s1-->
      <div class="cl"></div>
      <div id="s2">
        <div class="dr_title2">
            <h2>费用说明</h2>
        </div>
        <div class="editor_box">
            {% autoescape off %} 
            {{route.cost}}
            {% endautoescape %}
        </div>
      </div><!--s2-->
      <div class="cl"></div>
      <div id="s3">
          <div class="dr_title2">
              <h2>参考行程</h2>
          </div>
          <div class="rdt_box">
            {% for schedule in schedules %}
            <dl>
                <dt>第 {{schedule.day}} 天</dt>
                <dd>
                    <div class="tra_info fordetail">
                        <div class="t1">{{schedule.fromPlace}}</div><div title="飞机" class="plane_icon"></div><div class="t1">{{schedule.endPlace}}</div>
                    </div>
                    <div class="cl"></div>
                    <p></p>
                    {% autoescape off %} 
                    {{schedule.traffic}}
                    {% endautoescape %}
                    <div class="tip">
                       <strong>住宿：</strong>{{schedule.hotel}}<br>
                       <strong>餐饮：</strong>早餐：{{schedule.breakfast}}&nbsp;午餐：{{schedule.lunch}}&nbsp;晚餐：{{schedule.dinner}}
                    </div>
                    <div class="xingcheng">
                        {% autoescape off %} 
                        {{schedule.content}}
                        {% endautoescape %}
                    </div>
                </dd>
              </dl>
              <div class="cl"></div>
              {% endfor %}
          </div>    
      </div><!--s3-->
      <div class="cl"></div>                  
      <div id="s4">
          <div class="dr_title2" >
              <h2>订购须知</h2>
          </div>
          <div class="editor_box">
            {% autoescape off %} 
            {{route.notice}}
            {% endautoescape %}   
          </div>
      </div>  <!--s4-->
      <div class="cl"></div>
      <div id="s5">
          <div class="dr_title2">
              <h2>网签协议</h2>
          </div>
          <div class="editor_box">
            {% autoescape off %} 
            {{route.netsign}}
            {% endautoescape %}   
          </div>
      </div>
      <div class="cl"></div>     
      <div id="s6">
          <div class="dr_title2">
              <h2>热门推荐</h2>
          </div>
          <!--ul class="rp_box_fordetail">
              <li>
                  <div class="pic">
                    <a href="#" target="_blank"><img src="images/550b9e6459e03.jpg" width="190" height="111"></a></div>
                  <h4><a href="#" target="_blank">异域风情 | 泰新马9晚11天跟团游</a></h4>
                  <p>￥4999起</p>
              </li>
              <li>
                  <div class="pic">
                    <a href="#" target="_blank"><img src="images/5480317c40194.jpg" width="190" height="111"></a></div>
                  <h4><a href="#" target="_blank">飞去海岛过冬 | 沙巴四晚六天超级自由行（11月-12月·含圣诞）</a></h4>
                  <p>￥2999起</p>
              </li>
              <li>
                  <div class="pic">
                    <a href="#" target="_blank"><img src="images/550b9e6459e03.jpg" width="190" height="111"></a></div>
                  <h4><a href="#" target="_blank">异域风情 | 泰新马9晚11天跟团游</a></h4>
                  <p>￥4999起</p>
              </li>
              <li class="nomargin">
                  <div class="pic">
                    <a href="#" target="_blank"><img src="images/5480346651017.jpg" width="190" height="111"></a></div>
                  <h4><a href="#" target="_blank">享饕餮海鲜 | 沙巴四晚六天超级自由行（9月-10月·含十一）</a></h4>
                  <p>￥2999起</p>
              </li>
                 
          </ul-->
          <div class="cl"></div>
      </div>
    </div>
  </div>   
</div><!--special_con_div2-->

<div class="cl"></div>
{% include "ajx/includes/footer.html" %}
{% include "ajx/includes/sidebar.html" %}

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/jQuery-jcImg.js'%}"></script>
<script type="text/javascript" src="{% static 'js/mouse_hover.js'%}"></script>
<script type="text/javascript" src="{% static 'js/jquery.SuperSlide.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/northdetail.js'%}"></script>
{% endblock %}
