<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>线路</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
<link href="css/css1.css" rel="stylesheet" type="text/css" />
<link href="css/jiathis_share.css" rel="stylesheet" type="text/css" />
<link href="css/resrt.css" rel="stylesheet" type="text/css" />
<link href="css/calendar.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/mouse_hover.js"></script>
<script>
window.onload = function () {
	(function () {
		var reduceAdult = $(".reduce")[0],
			textAdult = $(".text")[0],
			addAdult = $(".add")[0],
			reduceKid = $(".reduce")[1],
			textKid = $(".text")[1],
			addKid = $(".add")[1],
			
			countAdult = 1,
			countKid = 1;
			
			start = function (reduce, text, add, count) {
				less = function () {
					if (parseInt(text.value) > 0) {
						count -= 1;
						text.value = count;
						
					}
				},
				increase = function () {
						count += 1;
						text.value = count;
				};

				reduce.onclick = less;
				add.onclick = increase;
			};

			start(reduceAdult, textAdult, addAdult, countAdult);
			start(reduceKid, textKid, addKid, countKid);
			


	})();
};
</script>



<script type="text/javascript">
$(function(){
   $(".detail_hf").on('click',function(){
	   var $layer = '';
	            if ($('#J-layer').size() == 0) {
					$layer = $('<div id="J-layer"></div>');
				} else {
					$layer = $('#J-layer');
				}
				$layer.css({
					"backgroundColor":'#000',
					"display": 'block',
					"height":$(document).outerHeight(),
					"left":0,
					"opacity":0.4,
					"position":'absolute',
					"top":0,
					"width":'100%',
					"zIndex": 99
				});
			var $div = $(this).siblings('.detail_t').clone(true);
				$('body').append($layer);
				$('body').append($div.show());
				$div.attr('id', 'J-picBox').on('click', '.detail_close,.detail_x', function () {
					$layer.hide();
					$div.remove();
				});	
					
	        });
	   
});
</script>




</head>
<body>
<div class="overall">
<div class="container container1">
	<div class="index_left">
    	<div class="logo">
        	<h1>爱简行</h1>
        </div>
        
        
        
       	<div class="xqym_left_tite gensuigundong_daohagn">
            <div class="xqym_left_1">
                <h2>北京</h2>
                <div class="xqym_l_1_jq">
                    <div class="xqym_l_1_jq_1">
                        <p>￥1299</p>
                    </div>
                    <div class="xqym_l_1_jq_r">
                        <span>6.5折</span>
                        <p>￥1999</p>
                    </div>
                </div>
                <div class="xqym_l_1_ts">
                    <dl class="xqym_l_1_ts_p1">
                        <dt>剩余天数：</dt>
                        <dd>7</dd>
                    </dl>
                    <dl class="xqym_l_1_ts_p2">
                        <dt>剩余位置：</dt>
                        <dd>>12</dd>
                    </dl>
                    </ul>
                </div>
            </div><!--xqym_left_1-->
            <div class="xqym_left_1 xqym_left_2">
                <h2>快速导航</h2>
                <ul>
                    <li><a class="gundong1 cur">概要信息</a></li>
                    <li><a class="gundong2">产品详情</a></li>
                    <li><a class="gundong3">费用说明</a></li>
                    <li><a class="gundong4">邮轮信息</a></li>
                    <li><a class="gundong5">参考交通</a></li>
                    <li><a class="gundong6">参考住宿</a></li>
                    <li><a class="gundong7">签证信息</a></li>
                    <li><a class="gundong8">参考行程</a></li>
                    <li><a class="gundong9">订购须知</a></li>
                    <li><a class="gundong10">网签协议</a></li>
                    <li><a class="gundong11">推荐产品</a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="xqym_left_3">
                <p><img src="images/xqym_ph.png" /></p>
                <a href="javascript:void(0)" class="detail_hf">立即订购</a>
                
                
                
                
                      <div class="popup_yd detail_t">
        <div class="popup_yd_close detail_x"><a href="#"><img src="images/popup_yd_close_03.jpg" /></a></div>
        <h2 class="popup_yd_logo"><img src="images/popup_yd_logo_03.jpg"  /></h2>
        <div class="popup_yd_con">
    	<div class="popup_yd_con_left">
        	<h3>使用第三方账号登录</h3>
            <ul class="popup_yd_cl_ul">
            	<li>
                	<a href="#"><img src="images/popup_yd_left_li_08.jpg" /></a>
                </li>
                <li>
                	<a href="#"><img src="images/popup_yd_left_li_03.jpg" /></a>
                </li>
                <li class="popup_yd_cl_ul_3">
                	<a href="#"><img src="images/popup_yd_left_li_06.jpg" /></a>
                </li>
            </ul>
            <p>为注册过用户可以点击直接登录哦！</p>
        </div><!--popup_yd_con_left-->
        <div class="popup_yd_con_right">
        	
        	<div class="tab tab_popup_yd">
                <ul class="tab-hd tab_popup_hd">
                    <li>手机快速登录</li>
                    <li>登录</li>
                    <li>注册</li>
                </ul>
                <ul class="tab-bd tab_popup_bd">
                    <li>
                    	<form>
                    	<dl class="tab_popup_bd_dl1">
                        	<dt>手机号码：</dt>
                        	<dd class="tab_popup_bd_dl1_1"><input name="" type="text" /></dd>
                        </dl>
                        <dl class="tab_popup_bd_dl1">
                        	<dt>验 证 码：</dt>
                        	<dd class="tab_popup_bd_dl1_1"><input name="" type="text" /></dd>
                            <dd class="tab_popup_bd_dl1_2"><a href="#">获取验证码</a></dd>
                        </dl>
                    	<dl class="tab_popup_bd_dl2">
                        	<dd class="tab_popup_bd_dl2_1"><span><input name="" type="checkbox" value="" /></span>记住我</dd>
                        	<dd class="tab_popup_bd_dl2_2"><a href="#">忘记密码？</a></dd>
                        </dl>
                    	<dl class="tab_popup_bd_dl3">
                        	<dd><input name="" type="submit"  value="登 录" class="detail_close"></dd>
                        </dl>
                        </form>
                    </li>
                    <li>
                    	<form>
                    	<dl class="tab_popup_bd_dl1">
                        	<dt>用户名：</dt>
                        	<dd class="tab_popup_bd_dl1_1"><input name="" type="text" /></dd>
                        </dl>
                        <dl class="tab_popup_bd_dl1">
                        	<dt>密　码：</dt>
                        	<dd class="tab_popup_bd_dl1_1"><input name="" type="password" /></dd>
                            
                        </dl>
                    	<dl class="tab_popup_bd_dl2">
                        	<dd class="tab_popup_bd_dl2_1"><span><input name="" type="checkbox" value="" /></span>记住我</dd>
                        	<dd class="tab_popup_bd_dl2_2"><a href="#">忘记密码？</a></dd>
                        </dl>
                    	<dl class="tab_popup_bd_dl3">
                        	<dd><input name="" type="submit"  value="登 录" class="detail_close"></dd>
                        </dl>
                        </form>
                    </li>
                    <li>
                    	<form>
                    	<dl class="tab_popup_bd_dl1">
                        	<dt>账号：</dt>
                        	<dd class="tab_popup_bd_dl1_1 tab_popup_bd_dl1_col"><input name="" id="oncity3" type="text" value="请填写手机号或邮箱" onfocus="if (value =='请填写手机号或邮箱'){value =''}" onblur="if (value ==''){value='请填写手机号或邮箱'}"/></dd>
                        </dl>
                        <dl class="tab_popup_bd_dl1">
                        	<dt>密码：</dt>
                        	<dd class="tab_popup_bd_dl1_1"><input name="" type="password" /></dd>
                        </dl>
                        <dl class="tab_popup_bd_dl1">
                        	<dt>确认密码：</dt>
                        	<dd class="tab_popup_bd_dl1_1"><input name="" type="password" /></dd>
                        </dl>
                        <dl class="tab_popup_bd_dl1">
                        	<dt>验证码：</dt>
                        	<dd class="tab_popup_bd_dl1_3"><input name="" type="text" /></dd>
                            <dd class="tab_popup_bd_dl1_4"><a href="#"><img src="images/popup_yd_yanzhengma.jpg" /></a></dd>
                        </dl>
                    	<dl class="tab_popup_bd_dl5">
                        	<dd class="tab_popup_bd_dl5_1"><span><input name="" type="checkbox" value="" /></span>我已经阅读并同意遵守</dd>
                        	<dd class="tab_popup_bd_dl5_2"><a href="#">《爱简行服务协议》</a></dd>
                        </dl>
                    	<dl class="tab_popup_bd_dl3">
                        	<dd><input name="" type="submit"  value="注 册" class="detail_close"></dd>
                        </dl>
                        </form>
                        <script type="text/javascript" src="js/popupo_yd_input.js"></script>
                    </li>
                </ul>
            </div>
        
        
    	</div><!--popup_yd_con_left-->
    </div><!--popup_yd_con-->

</div><!--popup_yd-->





                
            </div>
       </div>
        
        
   	</div><!--index_left-->
    
    <div class="index_right">
    	<div class="index_right_top">
        	<ul>
            	<li><a href="#">我的订单</a></li>
                <li>|</li>
                <li><a href="#">注册</a></li>
                <li>|</li>
                <li><a href="#">登录</a></li>
                <li>|</li>
                <li class="index_right_top_li7">400-0450-718</li>
            </ul>
        </div>
        <div class="header">
        	<div class="nav">
            	<ul>
                	<li><a href="#">线路首页</a></li>
                    <li>
                    <a href="#">特惠广场</a>
                    <div class="hot"><img src="images/hot.png" /></div>
                    </li>
                    <li><a href="#">东北游</a></li>
                    <li><a href="#">定制</a></li>
                </ul>
            </div>
            <div class="search">
            	<form>
            	<div class="search_in"><input name="" type="text" value="请输入您要搜索的目的地" onfocus="if (value =='请输入您要搜索的目的地'){value =''}" onblur="if (value ==''){value='请输入您要搜索的目的地'}"/></div>
                <div class="search_but"><input name="" type="button" /></div>
                </form>
            </div>
        </div><!--header-->
        <div class="xqym_banner">
        	<img src="images/xqym_banner_03.jpg" />
            <div class="xqym_banner_div">
            	<div class="xqym_banner_div_l">
            	<h2>东北地区黑龙江到北京测试线路各个旅</h2>
                <p><span>(测试线路：5458)</span>测试线和游客共同分享旅游快乐，留下瞬间没好景象。和自己间没好景象。</p>
                </div>
            	<div class="xqym_banner_div_r">
                	<img src="images/xqym_banner_jt_03.jpg" />
                </div>
            </div>
          
        </div>
        
        
        
        <div class="ir_box">   
        <div class="dr_title2" id="gundong1">
        <h2>概要信息</h2>
        <div class="jiathis_style_24x24" style="float: right;">
            <span style="float: left;margin-top: 3px;font-size: 14px;">分享到：</span>
            <a class="jiathis_button_weixin" title="分享到微信"><span class="jiathis_txt jtico jtico_weixin"></span></a>
            <a class="jiathis_button_tsina" title="分享到新浪微博"><span class="jiathis_txt jtico jtico_tsina"></span></a>
        </div>
        <div class="cl"></div>
    </div>
    <div class="det_box">
        <div class="calendar" id="calendar">
        <div class="calendar-inner">
        <div class="calendar-header fn-ta-c">
            <a href="#" class="fn-fl link month-btn prev-month">&lt;</a>
            <a href="#" class="fn-fr link month-btn next-month">&gt;</a>
            <span class="fn-mr-20"><em class="year">2015</em>年</span>
            <span><em class="month">3</em>月</span>
        </div>
        <table>
            <thead>
                <tr>
                    <th>一</th>
                    <th>二</th>
                    <th>三</th>
                    <th>四</th>
                    <th>五</th>
                    <th>六</th>
                    <th>日</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="date-num">23</span></td>
                    <td><span class="date-num">24</span></td>
                    <td><span class="date-num">25</span></td>
                    <td><span class="date-num">26</span></td>
                    <td><span class="date-num">27</span></td>
                    <td><span class="date-num">28</span></td>
                    <td><span class="date-num">1</span></td>
                </tr>
                <tr>
                    <td><span class="date-num">2</span></td>
                    <td><span class="date-num">3</span></td>
                    <td class="has-data"><span class="date-num">4</span><span class="txt-notice">余位:3</span><span class="txt-notice">￥2599</span></td>
                    <td class="has-data"><span class="date-num">5</span><span class="txt-notice">余位:6</span><span class="txt-notice">￥2599</span></td>
                    <td class="has-data"><span class="date-num">6</span><span class="txt-notice">余位:4</span><span class="txt-notice">￥2599</span></td>
                    <td class="has-data"><span class="date-num">7</span><span class="txt-notice">余位:6</span><span class="txt-notice">￥2799</span></td>
                    <td><span class="date-num">8</span></td>
                </tr>
                <tr>
                    <td><span class="date-num">9</span></td>
                    <td><span class="date-num">10</span></td>
                    <td class="has-data"><span class="date-num">11</span><span class="txt-notice">余位:6</span><span class="txt-notice">￥2599</span></td>
                    <td class="has-data"><span class="date-num">12</span><span class="txt-notice">余位:6</span><span class="txt-notice">￥2599</span></td>
                    <td class="has-data"><span class="date-num">13</span><span class="txt-notice">余位:6</span><span class="txt-notice">￥2599</span></td>
                    <td class="has-data"><span class="date-num">14</span><span class="txt-notice">余位:6</span><span class="txt-notice">￥2799</span></td>
                    <td><span class="date-num">15</span></td>
                </tr>
                <tr>
                    <td><span class="date-num">16</span></td>
                    <td><span class="date-num">17</span></td>
                    <td class="has-data"><span class="date-num">18</span><span class="txt-notice">余位:6</span><span class="txt-notice">￥2599</span></td>
                    <td class="has-data"><span class="date-num">19</span><span class="txt-notice">余位:6</span><span class="txt-notice">￥2599</span></td>
                    <td class="has-data"><span class="date-num">20</span><span class="txt-notice">余位:5</span><span class="txt-notice">￥2599</span></td>
                    <td class="has-data"><span class="date-num">21</span><span class="txt-notice">余位:6</span><span class="txt-notice">￥2799</span></td>
                    <td><span class="date-num">22</span></td>
                </tr>
                <tr>
                    <td><span class="date-num">23</span></td>
                    <td><span class="date-num">24</span></td>
                    <td class="has-data"><span class="date-num">25</span><span class="txt-notice">余位:6</span><span class="txt-notice">￥2999</span></td>
                    <td class="has-data"><span class="date-num">26</span><span class="txt-notice">余位:6</span><span class="txt-notice">￥2999</span></td>
                    <td class="has-data"><span class="date-num">27</span><span class="txt-notice">余位:6</span><span class="txt-notice">￥1999</span></td>
                    <td class="has-data"><span class="date-num">28</span><span class="txt-notice">余位:6</span><span class="txt-notice">￥1999</span></td>
                    <td><span class="date-num">29</span></td>
                </tr>
                <tr>
                    <td><span class="date-num">30</span></td>
                    <td><span class="date-num">30</span></td>
                    <td class="has-data"><span class="date-num">1</span><span class="txt-notice">余位:6</span><span class="txt-notice">￥2999</span></td>
                    <td class="has-data"><span class="date-num">2</span><span class="txt-notice">余位:6</span><span class="txt-notice">￥2999</span></td>
                    <td class="has-data"><span class="date-num">3</span><span class="txt-notice">余位:6</span><span class="txt-notice">￥1999</span></td>
                    <td><span class="date-num">4</span></td>
                    <td><span class="date-num">5</span></td>
                </tr>
            </tbody>
        </table>
    </div></div>
        <div class="pro_d_box">
            <div class="sp_icon" style="display:none"></div>
               <div class="parameter">
                <dl>
                    <dt>产品价格：</dt>
                    <dd>
                        <div class="price">￥5580</div>
                        <span class="old_price" style="float:left;margin-top: 6px; font-size: 13px;">￥5080</span>
                        <div class="price_tip">
                            <a  class="qj_link" href="javascript:void(0)" id="priceDescription">【起价说明】</a>
                            <!--起价说明弹出层-->
                            <div class="popup_tip">
                            本起价是可选出发日期中，按双人出行共住一间房核算的最低单人价格。产品价格会根据您所选择的出发日期、出行人数、入住酒店房型、航班或交通以及所选附加服务的不同而有所差别。
                           	   <span><img src="images/xsj.jpg" /></span>
                           	</div>
                        </div>
                    </dd>
                </dl>

                <dl>
                    <dt>儿童价：</dt>
                    <dd>
                        <div class="price_hei">￥5080</div>
                    </dd>
                </dl>
                <dl>
                    <!--TODO-->
                                    </dl>
                <dl>
                    <dt>产品类型：</dt>
                    <dd>
                        <div class="zyx_icon">自由行</div>
                        <div class="pay_way_icon">二次确认<div class="erciqueren_show"><p>网站上展示可预订之服务分为"立即确认"及"二次确认"两种。"立即确认"的服务的剩余名额即"余位"为准确的，旅游者下单之后可立即支付，支付成功即认为交易成功。"二次确认"产品的"余位"仅供参考，旅游者下单后无法立即支付，需与爱简行工作人员联系，待工作人员确认后方可支付。支付成功同样认为交易成功。</p></div></div>
                    </dd>
                </dl>
                <dl>
                    <dt>目的地：</dt>
                    <dd>
                        <p>哈尔滨</p>
                    </dd>
                </dl>
                <dl>
                    <dt>出发地点：</dt>
                    <dd> 北京</dd>
                </dl>
                <dl>
                    <dt>交通信息：</dt>
                    <dd> 飞机去/飞机回 </dd>
                </dl>
                <dl>
                    <dt>出游天数：</dt>
                    <dd> 6 天</dd>
                </dl>
                <!--dl>
                    <dt>剩余时间：</dt>
                    <dd> <em data-time="2297889" class="count-down"></em> </dd>
                </dl-->
                <dl>
                    <dt>报名时间：</dt>
                    <dd>建议提前 1 天以上预订
                    </dd>
                </dl>
                <dl class="info-item" style="display:none;">
                <dt>产品分类：</dt>
                <dd>
                    <input type="hidden" name="type_id" id="typeIdInput" value="9881">
                    <input type="hidden" id="checked_pro_type_id" value="">
                    <ul class="pro-select-type">
                        <li class="pro-type-item pro-type-item-9881 current" data-type-id="9881">
                            <a href="#"><span>默认</span></a>
                            <b></b>
                        </li> 
                    </ul>
                </dd>
                </dl>
                <dl class="info-item">
                    <dt>出发日期：</dt>
                    <dd>
                       <div class="start-date" id="selectedDate" title="请在左侧的价格日历中选择出发日期">
                            <input type="hidden" name="select_date" value="2015-04-08">
                            <em class="fn-fr">星期三</em>
                            <em>2015-04-08</em>
                        </div>
                    </dd>
                </dl>
                <dl class="info-item">
                    <dt>游客信息：</dt>
                    
                    
                    <dd class="wrap wrap1">
                        <div class="reduce reduceAdult add_dw2"><img src="images/j_top_03.jpg"></div>
                        <input class="text textAdult add_dw3" type="text" value="1"/>
                        <div class="add addAdult add_dw1"><img src="images/j_bottom_03.jpg"></div>
                    </dd>
    
    
                    <dd class="wrap wrap1 wrap2">
                        <div class="reduce reduceAdult add_dw2"><img src="images/j_top_03.jpg"></div>
                        <input class="text textAdult add_dw3" type="text" value="0"/>
                        <div class="add addAdult add_dw1"><img src="images/j_bottom_03.jpg"></div>
                    </dd>
                    
                </dl>

                                
                <input type="hidden" id="time_can_buy_value">
                <input type="submit" value="" id="confirm_buy_002" class="BII-ec buy_button button detail_hf" data-bii-ecv="{&#39;id&#39;:2365,&#39;pos&#39;:&#39;right&#39;}" style=" ">
                
                
                
                
        <div class="popup_yd detail_t">
        <div class="popup_yd_close detail_x"><a href="#"><img src="images/popup_yd_close_03.jpg" /></a></div>
        <h2 class="popup_yd_logo"><img src="images/popup_yd_logo_03.jpg"  /></h2>
        <div class="popup_yd_con">
    	<div class="popup_yd_con_left">
        	<h3>使用第三方账号登录</h3>
            <ul class="popup_yd_cl_ul">
            	<li>
                	<a href="#"><img src="images/popup_yd_left_li_08.jpg" /></a>
                </li>
                <li>
                	<a href="#"><img src="images/popup_yd_left_li_03.jpg" /></a>
                </li>
                <li class="popup_yd_cl_ul_3">
                	<a href="#"><img src="images/popup_yd_left_li_06.jpg" /></a>
                </li>
            </ul>
            <p>为注册过用户可以点击直接登录哦！</p>
        </div><!--popup_yd_con_left-->
        <div class="popup_yd_con_right">
        	
        	<div class="tab tab_popup_yd">
                <ul class="tab-hd tab_popup_hd">
                    <li>手机快速登录</li>
                    <li>登录</li>
                    <li>注册</li>
                </ul>
                <ul class="tab-bd tab_popup_bd">
                    <li>
                    	<form>
                    	<dl class="tab_popup_bd_dl1">
                        	<dt>手机号码：</dt>
                        	<dd class="tab_popup_bd_dl1_1"><input name="" type="text" /></dd>
                        </dl>
                        <dl class="tab_popup_bd_dl1">
                        	<dt>验 证 码：</dt>
                        	<dd class="tab_popup_bd_dl1_1"><input name="" type="text" /></dd>
                            <dd class="tab_popup_bd_dl1_2"><a href="#">获取验证码</a></dd>
                        </dl>
                    	<dl class="tab_popup_bd_dl2">
                        	<dd class="tab_popup_bd_dl2_1"><span><input name="" type="checkbox" value="" /></span>记住我</dd>
                        	<dd class="tab_popup_bd_dl2_2"><a href="#">忘记密码？</a></dd>
                        </dl>
                    	<dl class="tab_popup_bd_dl3">
                        	<dd><input name="" type="submit"  value="登 录" class="detail_close"></dd>
                        </dl>
                        </form>
                    </li>
                    <li>
                    	<form>
                    	<dl class="tab_popup_bd_dl1">
                        	<dt>用户名：</dt>
                        	<dd class="tab_popup_bd_dl1_1"><input name="" type="text" /></dd>
                        </dl>
                        <dl class="tab_popup_bd_dl1">
                        	<dt>密　码：</dt>
                        	<dd class="tab_popup_bd_dl1_1"><input name="" type="password" /></dd>
                            
                        </dl>
                    	<dl class="tab_popup_bd_dl2">
                        	<dd class="tab_popup_bd_dl2_1"><span><input name="" type="checkbox" value="" /></span>记住我</dd>
                        	<dd class="tab_popup_bd_dl2_2"><a href="#">忘记密码？</a></dd>
                        </dl>
                    	<dl class="tab_popup_bd_dl3">
                        	<dd><input name="" type="submit"  value="登 录" class="detail_close"></dd>
                        </dl>
                        </form>
                    </li>
                    <li>
                    	<form>
                    	<dl class="tab_popup_bd_dl1">
                        	<dt>账号：</dt>
                        	<dd class="tab_popup_bd_dl1_1 tab_popup_bd_dl1_col"><input name="" id="oncity3" type="text" value="请填写手机号或邮箱" onfocus="if (value =='请填写手机号或邮箱'){value =''}" onblur="if (value ==''){value='请填写手机号或邮箱'}"/></dd>
                        </dl>
                        <dl class="tab_popup_bd_dl1">
                        	<dt>密码：</dt>
                        	<dd class="tab_popup_bd_dl1_1"><input name="" type="password" /></dd>
                        </dl>
                        <dl class="tab_popup_bd_dl1">
                        	<dt>确认密码：</dt>
                        	<dd class="tab_popup_bd_dl1_1"><input name="" type="password" /></dd>
                        </dl>
                        <dl class="tab_popup_bd_dl1">
                        	<dt>验证码：</dt>
                        	<dd class="tab_popup_bd_dl1_3"><input name="" type="text" /></dd>
                            <dd class="tab_popup_bd_dl1_4"><a href="#"><img src="images/popup_yd_yanzhengma.jpg" /></a></dd>
                        </dl>
                    	<dl class="tab_popup_bd_dl5">
                        	<dd class="tab_popup_bd_dl5_1"><span><input name="" type="checkbox" value="" /></span>我已经阅读并同意遵守</dd>
                        	<dd class="tab_popup_bd_dl5_2"><a href="#">《爱简行服务协议》</a></dd>
                        </dl>
                    	<dl class="tab_popup_bd_dl3">
                        	<dd><input name="" type="submit"  value="注 册" class="detail_close"></dd>
                        </dl>
                        </form>
                        <script type="text/javascript" src="js/popupo_yd_input.js"></script>
                    </li>
                </ul>
            </div>
        
        
    	</div><!--popup_yd_con_left-->
    </div><!--popup_yd_con-->

</div><!--popup_yd-->



              </div>
            <div class="cl"></div>
            
        </div>
    </div>
	<div class="cl"></div>

    <!--可选套餐-->
    <!---->
        <!--<div class="ir_box" id="packages">-->

            <!--<div class="dr_title2">-->
                <!--<h2>可选套餐</h2>-->
            <!--</div>-->
            <!--&lt;!&ndash;保险&ndash;&gt;-->
            <!---->
                <!--<div class="package_name protect_icon" title="保险">-->
                    <!--<div class="head">-->
                        <!--<p class="title">美亚"乐悠游"境外旅行保障计划一</p>-->
                        <!--<p class="package-price">单价 : ￥ <span>45.00</span></p>-->
                        <!--<div class="cl"></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!---->
            <!--&lt;!&ndash;<p>签证套餐</p>&ndash;&gt;-->
            <!---->
                <!--<div class="package_name visa_icon" title="签证">-->
                    <!--<div class="head">-->
                        <!--<p class="title"><a target="_blank" href="http://visa.ilvxing.com/deal_visa/1011"> 马来西亚旅游签证</a></p>-->
                        <!--<p class="package-price">单价 : ￥ <span>140.00</span></p>-->
                        <!--<div class="cl"></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!---->
            <!--&lt;!&ndash;本地游产品&ndash;&gt;-->
            <!---->
                    <!--<div class="package_name local_icon" title="本地游">-->
                    <!--<div class="head">-->
                        <!--<p class="title"><a target="_blank" href="/Local/index/pro_id/14">WESTON红树林寻访长鼻猴+萤火虫下午出发中文精品游</a></p>-->
                        <!--<p class="package-price">成人 : ￥ <span>299.00</span></p>-->
                        <!--<div class="cl"></div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="cl"></div>-->
            <!---->
                    <!--<div class="package_name local_icon" title="本地游">-->
                    <!--<div class="head">-->
                        <!--<p class="title"><a target="_blank" href="/Local/index/pro_id/7">环滩岛浮潜一日游</a></p>-->
                        <!--<p class="package-price">成人 : ￥ <span>699.00</span></p>-->
                        <!--<div class="cl"></div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="cl"></div>-->
            <!---->
                    <!--<div class="package_name local_icon" title="本地游">-->
                    <!--<div class="head">-->
                        <!--<p class="title"><a target="_blank" href="/Local/index/pro_id/9">沙巴亚庇美人鱼岛浮潜一日游（Mantanani Island）曼达那尼岛</a></p>-->
                        <!--<p class="package-price">成人 : ￥ <span>499.00</span></p>-->
                        <!--<div class="cl"></div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="cl"></div>-->
            <!---->
                    <!--<div class="package_name local_icon" title="本地游">-->
                    <!--<div class="head">-->
                        <!--<p class="title"><a target="_blank" href="/Local/index/pro_id/11">东姑拉曼海岛公园两岛游一日游(沙比+马穆迪)</a></p>-->
                        <!--<p class="package-price">成人 : ￥ <span>299.00</span></p>-->
                        <!--<div class="cl"></div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="cl"></div>-->
            <!---->
            <!--<div class="cl"></div>-->
    <!--&lt;!&ndash;WIFI产品&ndash;&gt;-->
    <!---->
<!--<div class="cl"></div>-->
        <!--</div>-->
    <!---->
    <div class="cl"></div>
<div class="dr_title2"  id="gundong2">
    <h2>产品详情</h2><p class="note">本产品由中国山水旅行社提供服务</p>
</div>

<div class="editor_box">
    <p class="h_yellow"><strong>爱小行赞一个</strong></p>
    <p>1、超多团期出发，包含清明节/五一假期哦！30公斤托运行李，直挂行李更省心~</p>
    <p>2、可登马来西亚第一高峰，也可浮潜去看美丽珊瑚礁~</p>
    <p>3、乘船去海平面红树林深处看奇特的长鼻猴和萤火虫~</p>
    <p>4、极致美食品味：老虎虾，老虎斑、象拔吃到饱！</p>
    <p><br></p><p class="h_yellow"><strong>可选附加产品</strong><br></p>
    <p><span style="color:#00b0f0;">+299元 &nbsp;</span><a href="#" target="_blank" style="color:#00b0f0;text-decoration:underline;"><span style="color:#00b0f0;">红树林寻访长鼻猴+萤火虫（下午出发）</span></a></p>
    <p><span style="color:#00b0f0;">+499元 &nbsp;</span><a href="#" target="_blank" style="color:#00b0f0;text-decoration:underline;"><span style="color:#00b0f0;">沙巴亚庇美人鱼岛浮潜一日游</span></a></p>
    <p><span style="color:#00b0f0;">+699元 &nbsp;</span><a href="#" target="_blank" style="color:#00b0f0;text-decoration:underline;"><span style="color:#00b0f0;">沙巴亚庇环滩岛一日游（私人海岛）</span></a></p>
    <p><span style="color:#00b0f0;">+299元 &nbsp;</span><span style="color:#00b0f0;text-decoration:underline;"><a href="#" target="_blank" style="color:#00b0f0;text-decoration:underline;">沙巴亚庇东姑拉曼海岛公园两岛游（沙比岛和曼奴干岛)</a></span></p>
</div>

<div class="cl"></div>
<div class="dr_title2" id="gundong3">
    <h2>费用说明</h2>
</div>
<h3 class="ri_title">费用包含</h3>
<div class="editor_box">
    <p>1、机票：机票含税</p></div>
<h3 class="ri_title">费用不含</h3>
<div class="editor_box">
    <p>1.全程导游、司机服务费、全程酒店；</p>
    <p>2.签证：马来西亚旅游签证</p>
    <p>3.私人性质的消费（如交通费、洗衣、电话、酒水、购物等）；<br></p>
    <p>4.出入境行李的海关税、搬运费、保管费和超重（件）行李托运费；航空公司临时加收的燃油附加费（我司只会在航空公司正式宣布加收燃油附加费时加收时，才向团队确认加收，加收的金额以航空公司定的为准）；</p>
    <p>5.单房差，个人小费，意外保险，自费项目</p>
    <p>6.行程外产生的超公里费或者超工时费</p>
    <p>7.因客人自身原因造成领事馆拒签或终止签证，需收取的签证损失费和机票损失费（机票一旦出票，便不可退票、不可签转，不可更改日期/航班/舱位；客人同时需承担机票或酒店取消费）；</p>
    <p>8.因不可抗拒因素（自然灾害、政治形势、政府法令、航空、铁路及公路出现紧急情况等）所引致的额外费用；旅行社协助解决，但不承担相关责任，同时我社保留对行程进行变更的权利。</p>
</div>
<div class="cl"></div>
<div class="dr_title2" id="gundong4">
    <h2>游轮信息</h2>
</div>
<div class="cl"></div>
<div class="dr_title2"  id="gundong5">
        <h2>参考交通</h2>
    </div>
    <!--<div class="dtip_box">-->
        <!--<div class="icon"></div>-->
        <!--<h4>特别提醒</h4>-->
        <!--<p>飞机去/飞机回</p>-->
    <!--</div>-->
    <div class="transport_box">
        <table class="item" width="0" border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>去/返程</th>
                    <th>出发地 - 目的地</th>
                    <th>航班</th>
                    <th>起飞时间</th>
                    <th>起飞机场</th>
                    <th>到达时间</th>
                    <th>到达机场</th>
                </tr>
                </thead>
                            <tbody>
            <tr>
                <td rowspan="3">去程</td>
            </tr>
            <tr>
                <td>北京 - 吉隆坡</td>
                <td>MH361</td>
                <td>01:30</td>
                <td>首都国际机场</td>
                <td>08:00</td>
                <td>吉隆坡国际机场</td>
            </tr>
            <tr>
                <td>吉隆坡 - 亚庇</td>
                <td>MH2614</td>
                <td>12:50</td>
                <td>吉隆坡机场</td>
                <td>15:25</td>
                <td>哥打京那巴鲁机场</td>
            </tr>                            
            </tbody>
            <thead>
                <tr>
                    <th>去/返程</th>
                    <th>出发地 - 目的地</th>
                    <th>航班</th>
                    <th>起飞时间</th>
                    <th>起飞机场</th>
                    <th>到达时间</th>
                    <th>到达机场</th>
                </tr>
                </thead>
                            <tbody>
            <tr>
                <td rowspan="3">回程</td>
            </tr>
            <tr>
                <td>吉隆坡 - 北京</td>
                <td>MH360</td>
                <td>18:25</td>
                <td>吉隆坡国际机场</td>
                <td>00:20</td>
                <td>首都国际机场</td>
            </tr>
            <tr>
                <td>亚庇 - 吉隆坡</td>
                <td>MH2621</td>
                <td>12:40</td>
                <td>亚庇机场</td>
                <td>15:05</td>
                <td>吉隆坡机场</td>
            </tr>                            
            </tbody>
        </table>
    </div>    
    <div class="cl"></div>
    <div class="dr_title2"  id="gundong6">
            <h2>参考住宿</h2>
        </div>
        <div class="hotel_box">
                <div class="title2">
                    <!--div class="go1">
                        <div class="dcb_btn"><a href="#">查看携程价格</a></div>
                    </div-->
                    <h4>未包含酒店 </h4>
                </div>
                <div class="star">
                    <div class="title">星级：</div>
                    <div class="level1"></div>
                </div>
            <div class="cl"></div>
            <p><strong>地址：</strong> 未包含酒店</p>
            <p class="max"><strong>简介：</strong><br>
                </p><p>此套餐不包含酒店。</p><p><br></p><p></p>
            <!--ul>
                <li title="早餐" class="c1"></li>
                <li title="免费Wifi" class="c2"></li>
                <li title="收费wifi" class="c3"></li>
                <li class="c4"></li>
                <li class="c5"></li>
                <li class="c6"></li>
                <li class="c7"></li>
            </ul-->
            <div class="cl"></div>
            </div>
            <div class="cl"></div>    <div class="cl"></div><div class="dr_title2"  id="gundong7">
        <h2>签证信息</h2>
    </div>
    <div class="editor_box">
        <p>护照 <br>1、有效期在6个月以上的因私护照（自回国之日开始算，为6个月以上，护照首页请用A4纸复印2份）。<br>2、请在护照最后一页签名，中文姓名。<br>3、护照须有三页以上空白签证页。<br><br>照片 <br>1、白底彩色近照2张，照片尺寸要求35×45mm。<br>2、请在照片背面用铅笔写上自己的姓名。<br>3、申请者拍摄照片时不可以带眼镜。</p>    </div>
    <div class="cl"></div>


    <div class="dr_title2" id="gundong8">
        <h2>参考行程</h2>
    </div>
        <div class="rdt_box">
                	<dl>
                        <dt>第 1 天</dt>
                        <dd>
                            <div class="tra_info fordetail">
                                <div class="t1">北京</div><div title="飞机" class="plane_icon"></div><div class="t1">台北</div>

                                                             <!--            <div title="轮船" class="ship_icon"></div>-->
                            </div>
                            <div class="cl"></div>
                            <p></p>
                            <p><strong>参考航班：CI512  12:25（北京时间）-15:35（北京时间）<br />　　　　或 CI518  20:05（北京时间）-23:15（北京时间）</strong></p> 
                            <p>请自行前往机场，开始愉快的旅途！</p>
                               <div class="tip">
                               <strong>住宿：</strong>厦门市区准三星酒店&nbsp;&nbsp;<br>
                               <strong>餐饮：</strong>早餐：敬请自理&nbsp;
                                午餐：敬请自理&nbsp;
                                晚餐：敬请自理
                               </div>
                               <div class="xingcheng">
                               <strong>行程：</strong>07:15空调旅游车到酒店接团出发， 前往永定高北土楼群。11:30抵达永定高北土楼群，享用午餐。12:00午餐后，游览,中国邮电部发行了一套"中国民居"邮票"世界文化遗产，【承启楼】被称为"土楼王"它的"高四层，楼四圈，上上下下四百间；圆中圆，圈套圈，历经沧桑三百年"，的独特建筑风格和庭园院落端庄丽脱的造型艺术，融与如诗的山乡神韵。【五云楼】俗称"不倒楼"，是没有石砌墙基，已有590多年沧桑变化，是高头乡江氏家族中现存最古老的建筑，具有愉快的土楼旅游！
                               </div>
                               <div class="xingcheng_pic">
                                    <img src="images/xqym_1t_pic_03.jpg" />
                               </div>
                        </dd>
                    </dl>
                    <div class="cl"></div>
                    <dl>
                        <dt>第 2 天</dt>
                        <dd>
                            <div class="tra_info fordetail">
                                <div class="t1">台北</div>
                            </div>
                            <div class="cl"></div>
                            <p></p>
                            
                               <div class="tip">
                               <strong>住宿：</strong>厦门市区准三星酒店&nbsp;&nbsp;<br>
                               <strong>餐饮：</strong>早餐：敬请自理&nbsp;
                                午餐：敬请自理&nbsp;
                                晚餐：敬请自理
                               </div>
                               <div class="xingcheng">
                               自由活动，行程任选。
                               </div>
                               <div class="xingcheng_pic">
                                    <img src="images/xqym_2t_pic_03.jpg" />
                               </div>
                        </dd>
                    </dl>
                    <div class="cl"></div>
                    <dl>
                        <dt>第 3 天</dt>
                        <dd>
                            <div class="tra_info fordetail">
                                <div class="t1">台北</div><div title="飞机" class="plane_icon"></div><div class="t1">北京</div>
                                                             <!--            <div title="轮船" class="ship_icon"></div>-->
                            </div>
                            <div class="cl"></div>
                            <p></p>
                            <p><strong>参考航班：CI512  12:25（北京时间）-15:35（北京时间）<br />　　　　或 CI518  20:05（北京时间）-23:15（北京时间）</strong></p> 
                            <p>自行乘机返回北京，结束愉快行程！</p>
                               <div class="tip">
                               <strong>住宿：</strong>厦门市区准三星酒店&nbsp;&nbsp;<br>
                               <strong>餐饮：</strong>早餐：敬请自理&nbsp;
                                午餐：敬请自理&nbsp;
                                晚餐：敬请自理
                               </div>
                               <div class="xingcheng">
                               <strong>行程：</strong>07:15空调旅游车到酒店接团出发， 前往永定高北土楼群。11:30抵达永定高北土楼群，享用午餐。12:00午餐后，游览,中国邮电部发行了一套"中国民居"邮票"世界文化遗产，【承启楼】被称为"土楼王"它的"高四层，楼四圈，上上下下四百间；圆中圆，圈套圈，历经沧桑三百年"，的独特建筑风格和庭园院落端庄丽脱的造型艺术，融与如诗的山乡神韵。【五云楼】俗称"不倒楼"，是没有石砌墙基，已有590多年沧桑变化，是高头乡江氏家族中现存最古老的建筑，具有愉快的土楼旅游！
                               </div>
                               
                        </dd>
                    </dl>
                   </div>            
        
                <div class="cl"></div>
                <div class="dr_title2"  id="gundong9">
                        <h2>订购须知</h2>
                    </div><h3 class="ri_title">重要提示</h3>
                    <div class="editor_box">
                        <p><strong>特价旅游产品一经售出，不退不换不改。</strong></p><p><span style="font-size:14px;">1、自费参考：如行程中所列，自费项目不涉及我公司利益，客人自愿参加。</span><br></p><p>2、以上报价仅适用于中国护照持有者。</p><p>3、如若航空公司临时调整航班时间，出行时间以出票时为准！</p>    </div><div class="cl"></div>
                <div class="dr_title2" id="gundong10">
                    <h2>网签协议</h2>
                </div>
                        <div class="editor_box">
                          <p>用户下单即默认同意爱旅行的网签协议，<a href="#" style="color: #19aabd" target="_blank">点击查看协议</a></p>
                
                        </div>
                <div class="dr_title2"  id="gundong11">
                        <h2>相关产品</h2>
                    </div>
                    <ul class="rp_box_fordetail">
                        <li>
                            <div class="pic">
                              <a href="#" target="_blank"><img src="images/550b9e6459e03.jpg" width="190" height="111"></a></div>
                            <h4><a href="#" target="_blank">异域风情 | 泰新马9晚11天跟团游</a></h4>
                            <p>￥4999起</p>
                            </li><li>
                            <div class="pic">
                              <a href="#" target="_blank"><img src="images/5480317c40194.jpg" width="190" height="111"></a></div>
                            <h4><a href="#" target="_blank">飞去海岛过冬 | 沙巴四晚六天超级自由行（11月-12月·含圣诞）</a></h4>
                            <p>￥2999起</p>
                            </li><li class="nomargin">
                            <div class="pic">
                              <a href="#" target="_blank"><img src="images/5480346651017.jpg" width="190" height="111"></a></div>
                            <h4><a href="#" target="_blank">享饕餮海鲜 | 沙巴四晚六天超级自由行（9月-10月·含十一）</a></h4>
                            <p>￥2999起</p>
                            </li>    </ul>
                    <div class="cl"></div>
                </div>
                
                </form>
                </div>
                <div class="cl"></div>

		</div>
        <!--index_r_con-->
   </div><!--index_right-->
</div><!--container-->
</div><!--overall-->
<div id="footer">
<div class="footer">
	<div class="foot">
        <ul>
            <li class="foot_li1">
                <h2>优质出游</h2>
                <p>精挑细选千种选择</p>
            </li>
            <li class="foot_li2">
                <h2>保证低价</h2>
                <p>同款产品低价承诺</p>
            </li>
            <li class="foot_li3">
                <h2>72小时服务</h2>
                <p>行前行后前后相伴</p>
            </li>
            <li class="foot_li4">
                <h2>安全支付</h2>
                <p>轻松、快捷、安全</p>
            </li>
            <li class="foot_li5">
                <h2>透明消费</h2>
                <p>透明行程明白消费</p>
            </li>
        </ul>
	</div>
</div>
<div class="link_index">
	<p><strong>友情链接：</strong> <a href="#">穷游</a> <a href="#">在路上</a> <a href="#">百程旅行网</a> <a href="#">春秋航空</a> <a href="#">游多多旅行网</a> <a href="#">多多驿站</a> <a href="#">布丁酒店</a> <a href="#">欣欣旅游网</a> <a href="#">驴妈妈旅游网</a> <a href="#">酷讯飞机票查询</a> <a href="#">腾邦飞人</a> <a href="#">悠哉旅游网</a> <a href="#">同程旅游</a> <a href="#">旅游线路</a> <a href="#">火车票查询</a> <a href="#">一起游</a> <a href="#">到到网</a> <a href="#">途牛旅游网</a> <a href="#">遨游旅游网</a> <a href="#">梦之旅</a> <a href="#">百酷旅行网</a></p>

</div>
<div class="low">
	<p><a href="#">关于我们</a> | <a href="#">联系我们</a> | <a href="#">免责声明</a> | <a href="#">用户协议</a> | <a href="#">网签协议</a></p>
    <p>黑龙江.哈尔滨 | 黑ICP备14007011号</p>
    <p>Copyright © 2014-2015 i-xing.com All Rights Reserved. 爱简行 版权所有</p>
	<div class="low_rz">
    	<p>
    	<a href="#"><img src="images/low_img_03.jpg" /></a>
        <a href="#"><img src="images/low_img_05.jpg" /></a>
        <a href="#"><img src="images/low_img_07.jpg" /></a>
        <a href="#"><img src="images/low_img_09.jpg" /></a>
        </p>
    </div>
</div>
</div>
<script>
$(function(){
    var gundong1_top = $("#gundong1").offset().top;/***定义要滚动的栏目相对于顶部的偏移***/
	var gundong2_top = $("#gundong2").offset().top;
	var gundong3_top = $("#gundong3").offset().top;
	var gundong4_top = $("#gundong4").offset().top;
	var gundong5_top = $("#gundong5").offset().top;
	var gundong6_top = $("#gundong6").offset().top;
	var gundong7_top = $("#gundong7").offset().top;
	var gundong8_top = $("#gundong8").offset().top;
	var gundong9_top = $("#gundong9").offset().top;
	var gundong10_top = $("#gundong10").offset().top;
	var gundong11_top = $("#gundong11").offset().top;
	var foot = $("#footer").height();
													/***滚动判断***/
	$(window).scroll(function(){
		var scroH = $(this).scrollTop();
		if(scroH>=gundong11_top){
      		set_cur(".gundong11");
    	}else if(scroH>=gundong10_top){
      		set_cur(".gundong10");
    	}else if(scroH>=gundong9_top){
      		set_cur(".gundong9");
    	}else if(scroH>=gundong8_top){
      		set_cur(".gundong8");
    	}else if(scroH>=gundong7_top){
      		set_cur(".gundong7");
    	}else if(scroH>=gundong6_top){
      		set_cur(".gundong6");
    	}else if(scroH>=gundong5_top){
			set_cur(".gundong5");
		}else if(scroH>=gundong4_top){
			set_cur(".gundong4");
		}else if(scroH>=gundong3_top){
			set_cur(".gundong3");
		}else if(scroH>=gundong2_top){
			set_cur(".gundong2");
		}else if(scroH>=gundong1_top){
			set_cur(".gundong1");
		}
	});
	$(".gensuigundong_daohagn li a").click(
		function(){
			var el = $(this).attr('class');
			$('html,body').animate({scrollTop: $("#"+el).offset().top
			},{easing: 'easeOutSine',duration: 300,complete:function(){}});
		}
	);
	
	$(window).scroll(
	   		function(){
				mm=$(".overall").height()-foot-400;
				if(( $(window).scrollTop())<200){
						$(".gensuigundong_daohagn").removeClass("aa");
						$(".gensuigundong_daohagn").removeClass("bb");
						}else
				if(( $(window).scrollTop())>=200&&( $(window).scrollTop())<=mm) {
					$(".gensuigundong_daohagn").removeClass("bb");
					$(".gensuigundong_daohagn").addClass("aa");
					$(".gensuigundong_daohagn").css("top","0")
					
					}
				else if(( $(window).scrollTop())>mm){
						$(".gensuigundong_daohagn").addClass("bb");
						$(".gensuigundong_daohagn").css("top",mm)
						}
				}
	   );
	   
});
function set_cur(n){
	$(".gensuigundong_daohagn li a").removeClass("cur");
	$(".gensuigundong_daohagn li a"+n).addClass("cur");	
	}
	
</script>






</body>
</html>