{% extends "ajx/base.html" %}
{% load staticfiles %}
{% load extra_tags %}

{% block title %}{{route.name}}|{{S.name}}{% endblock %}

{% block css %}
<link href="{% static 'css/calendar.css'%}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}

{% include "ajx/includes/login.html" %}

<div class="overall">
<div class="container container1">
	<div class="index_left">
    	{% if S.logo %}
        <div class="logo" style="background: url(media/{{S.logo}}) no-repeat;">
            <h1>在旅行</h1>
        </div>
        {% else %}
        <div class="logo">
            <h1>在旅行</h1>
        </div>
        {% endif %}
       	<div class="xqym_left_tite gensuigundong_daohagn">
            <div class="xqym_left_1">
                <h2>{{route.setOut.name}}</h2>
                <div class="xqym_l_1_jq">
                    <div class="xqym_l_1_jq_1">
                        <p>￥{{route.realPrice}}</p>
                    </div>
                    <div class="xqym_l_1_jq_r">
                        <span>{{route.realPrice|discount:route.marketPrice}}折</span>
                        <p>￥{{route.marketPrice}}</p>
                    </div>
                </div>
                <div class="xqym_l_1_ts">
                    <dl class="xqym_l_1_ts_p1">
                        <dt>剩余天数：</dt>
                        <dd>{{data.lastDays}}</dd>
                    </dl>
                    <dl class="xqym_l_1_ts_p2">
                        <dt>剩余位置：</dt>
                        <dd>{{data.left}}</dd>
                    </dl>
                </div>
            </div><!--xqym_left_1-->
            <div class="xqym_left_1 xqym_left_2">
                <h2>快速导航</h2>
                <ul>
                    <li><a class="gundong1 cur">概要信息</a></li>
                    <li><a class="gundong2">产品详情</a></li>
                    <li><a class="gundong3">费用说明</a></li>
                    <li><a class="gundong4">邮轮信息</a></li>
                    <li><a class="gundong5">参考交通</a></li>
                    <li><a class="gundong6">参考住宿</a></li>
                    <li><a class="gundong7">签证信息</a></li>
                    <li><a class="gundong8">参考行程</a></li>
                    <li><a class="gundong9">订购须知</a></li>
                    <li><a class="gundong10">网签协议</a></li>
                    <li><a class="gundong11">推荐产品</a></li>
                </ul>
                <div class="cl"></div>
            </div>
            <div class="xqym_left_3">
                <p><img src="{% static 'images/xqym_ph.png'%}" /></p>
                {% if request.session.LOGIN %}
                <a class="submit_left">立即订购</a>  
                {% else %}
                <a class="popup" data="login">立即订购</a>  
                {% endif %}              
            </div>
       </div>
        
        
   	</div><!--index_left-->
    
    <div class="index_right">

    	{% include "ajx/includes/header_route.html" %}

        <div class="xqym_banner">
        	<img class="mainpic" src="/media/{{route.pic}}" />
            <div class="xqym_banner_div">
            	<div class="xqym_banner_div_l">
            	<h2>{{route.name}}</h2>
                <p><span>(线路编号:{{route.code}})</span>{{route.summary}}</p>
                </div>
            	<div class="xqym_banner_div_r">
                	<img src="{% static 'images/xqym_banner_jt_03.jpg'%}" />
                </div>
            </div>
        </div>
        
        <div class="ir_box">   
            <div class="dr_title2" id="gundong1">
                <h2>概要信息</h2>
                <div class="cl"></div>
            </div>
            <div class="det_box">
                <div class="calendar" id="calendar">
                    <div class="calendar-inner">
                        <div class="calendar-header fn-ta-c">
                            <input type="hidden" name="data-year" value="{{data.year}}" />
                            <input type="hidden" name="data-month" value="{{data.month}}" />
                            <a class="fn-fl link month-btn prev-month">&lt;</a>
                            <a class="fn-fr link month-btn next-month">&gt;</a>
                            <span class="fn-mr-20"><em class="year">{{data.year}}</em>年</span>
                            <span><em class="month">{{data.month}}</em>月</span>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>一</th>
                                    <th>二</th>
                                    <th>三</th>
                                    <th>四</th>
                                    <th>五</th>
                                    <th>六</th>
                                    <th>日</th>
                                </tr>
                            </thead>
                            <tbody id="calendar-body">
                                {% for week in calendars %}
                                <tr>
                                    {% for day in week %}
                                    {% if day.has == 0 %}
                                    <td><span class="date-num">{{day.day}}</span></td>
                                    {% else %}
                                    <td class="has-data" data-date="{{day.date}}" data-dateid="{{day.dateid}}"><span class="date-num">{{day.day}}</span><span class="txt-notice">余位:{{day.left}}</span><span class="txt-notice">￥{{day.price}}</span></td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="pro_d_box">
                    <form action="/w/confirm/" method="post">
                        <input type="hidden" name="t" value="route" />
                        <input type="hidden" name="rid" value="{{route.id}}" />
                        <div class="parameter">
                            <dl>
                                <dt>产品价格：</dt>
                                <dd>
                                    <div class="price">￥{{route.realPrice}}</div>
                                    <span class="old_price" style="float:left;margin-top: 6px; font-size: 13px;">￥{{route.marketPrice}}</span>
                                    <div class="price_tip">
                                        <a class="qj_link" href="javascript:void(0)">【起价说明】</a>
                                        <!--起价说明弹出层-->
                                        <div class="popup_tip">
                                        本起价是可选出发日期中，按双人出行共住一间房核算的最低单人价格。产品价格会根据您所选择的出发日期、出行人数、入住酒店房型、航班或交通以及所选附加服务的不同而有所差别。
                                       	<span><img src="{% static 'images/xsj.jpg'%}" /></span>
                                       	</div>
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>儿童价：</dt>
                                <dd>
                                    <div class="price_hei">￥{{route.childPrice}}</div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>产品类型：</dt>
                                <dd>
                                    <div class="route_type_icon_{{route.types|odd:6}}">{{route.get_types_display}}</div>
                                    <div class="pay_way_icon">{% if route.needConfirm == 1%}二次确认{% else %}立即确认{% endif %}<div class="confirm_show"><p>网站上展示可预订之服务分为"立即确认"及"二次确认"两种。"立即确认"的服务的剩余名额即"余位"为准确的，旅游者下单之后可立即支付，支付成功即认为交易成功。"二次确认"产品的"余位"仅供参考，旅游者下单后无法立即支付，需与在旅行工作人员联系，待工作人员确认后方可支付。支付成功同样认为交易成功。</p></div>
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>目的地：</dt>
                                <dd>
                                    <p>{{route.destination}}</p>
                                </dd>
                            </dl>
                            <dl>
                                <dt>出发地点：</dt>
                                <dd>{{route.setOut}}</dd>
                            </dl>
                            <dl>
                                <dt>交通信息：</dt>
                                <dd>{{route.get_goType_display}}去/{{route.get_backType_display}}回 </dd>
                            </dl>
                            <dl>
                                <dt>出游天数：</dt>
                                <dd> {{route.day}} 天</dd>
                            </dl>
                            <dl>
                                <dt>报名时间：</dt>
                                <dd>建议提前 {{route.advance}} 天以上预订
                                </dd>
                            </dl>
                            <dl class="info-item">
                                <dt>产品分类：</dt>
                                <dd>
                                    <input type="hidden" name="cid" value="{{data.classid}}" />
                                    <ul class="pro-select-type">
                                        {% for class in classes %}
                                        {% if forloop.first %}
                                        <li class="pro-type-item current" data-classid="{{class.id}}">
                                            <a><span>{{class.name}}</span></a>
                                            <b></b>
                                        </li>
                                        {% else %}
                                        <li class="pro-type-item" data-classid="{{class.id}}">
                                            <a><span>{{class.name}}</span></a>
                                            <b></b>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </dd>
                            </dl>
                            <dl class="info-item">
                                <dt>出发日期：</dt>
                                <dd>
                                   <div class="start-date">
                                        <input type="hidden" name="dateid" value="{{dateid}}">
                                        <em class="fn-fr start-date-week">星期{{date|week}}</em>
                                        <em class="start-date-date">{{date}}</em>
                                    </div>
                                </dd>
                            </dl>
                            <dl class="info-item">
                                <dt>游客信息：</dt>
                                <dd class="wrap wrap1">
                                    <div class="reduce reduceAdult add_dw2"><img src="{% static 'images/j_top_03.jpg'%}"></div>
                                    <input class="text textAdult add_dw3" name="adult" type="text" value="1"/>
                                    <div class="add addAdult add_dw1"><img src="{% static 'images/j_bottom_03.jpg'%}"></div>
                                </dd>
                                <dd class="wrap wrap1 wrap2">
                                    <div class="reduce reduceAdult add_dw2"><img src="{% static 'images/j_top_03.jpg'%}"></div>
                                    <input class="text textAdult add_dw3" name="child" type="text" value="0"/>
                                    <div class="add addAdult add_dw1"><img src="{% static 'images/j_bottom_03.jpg'%}"></div>
                                </dd>
                            </dl>
                            {% if request.session.LOGIN %}
                            <input type="submit" class="button submit_right" value="">
                            {% else %}
                            <input value="" class="button popup" data="login">
                            {% endif %}
                        </div>
                    </form>
                    <div class="cl"></div> 
                </div>
            </div>
            <div class="cl"></div>
            {% if route.detail %}
            <div class="dr_title2"  id="gundong2">
                <h2>产品详情</h2><p class="note">本产品由{{route.supplyName}}提供服务</p>
            </div>
            <div class="editor_box">
                {% autoescape off %} 
                {{route.detail}}
                {% endautoescape %}       
            </div>
            <div class="cl"></div>
            {% endif %}
            {% if route.cost %}
            <div class="dr_title2" id="gundong3">
                <h2>费用说明</h2>
            </div>
            <div class="editor_box">
                {% autoescape off %} 
                {{route.cost}}
                {% endautoescape %}
            </div>
            <div class="cl"></div>
            {% endif %}
            {% if route.ship %}
            <div class="dr_title2" id="gundong4">
                <h2>游轮信息</h2>
            </div>
            <div class="editor_box">
                {% autoescape off %} 
                {{route.ship}}
                {% endautoescape %}
            </div>
            <div class="cl"></div>
            {% endif %}
            <div class="dr_title2"  id="gundong5">
                <h2>参考交通</h2>
            </div>
            <div class="editor_box">
                {% autoescape off %} 
                {{route.traffic}}
                {% endautoescape %}
            </div>
            {% if airlines %}
            <div class="transport_box">
                <table class="item" width="0" border="0" cellspacing="0" cellpadding="0">
                    {% if airlines.golines %}
                    <thead>
                        <tr>
                            <th>去/返程</th>
                            <th>出发地 - 目的地</th>
                            <th>航班</th>
                            <th>起飞时间</th>
                            <th>起飞机场</th>
                            <th>到达时间</th>
                            <th>到达机场</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td rowspan="{{airlines.golinesCount|add:'1'}}">去程</td>
                    </tr>
                    {% for line in airlines.golines %}
                    <tr>
                        <td>{{line.fromandgo}}</td>
                        <td>{{line.airplane}}</td>
                        <td>{{line.startTime}}</td>
                        <td>{{line.startPlace}}</td>
                        <td>{{line.endTime}}</td>
                        <td>{{line.endPlace}}</td>
                    </tr>
                    {% endfor %}                          
                    </tbody>
                    {% endif %}
                    {% if airlines.backlines %}
                    <thead>
                        <tr>
                            <th>去/返程</th>
                            <th>出发地 - 目的地</th>
                            <th>航班</th>
                            <th>起飞时间</th>
                            <th>起飞机场</th>
                            <th>到达时间</th>
                            <th>到达机场</th>
                        </tr>
                        </thead>
                    <tbody>
                    <tr>
                        <td rowspan="{{airlines.backlinesCount|add:'1'}}">回程</td>
                    </tr>
                    {% for line in airlines.backlines %}
                    <tr>
                        <td>{{line.fromandgo}}</td>
                        <td>{{line.airplane}}</td>
                        <td>{{line.startTime}}</td>
                        <td>{{line.startPlace}}</td>
                        <td>{{line.endTime}}</td>
                        <td>{{line.endPlace}}</td>
                    </tr>
                    {% endfor %}                            
                    </tbody>
                    {% endif %}
                </table>
            </div>    
            <div class="cl"></div>
            {% endif %}
            {% if route.hotel %}
            <div class="dr_title2"  id="gundong6">
                <h2>参考住宿</h2>
            </div>
            <div class="editor_box">
                {% autoescape off %} 
                {{route.hotel}}
                {% endautoescape %}
            </div>
            <div class="cl"></div>
            {% endif %}
            {% if route.visa %}
            <div class="dr_title2"  id="gundong7">
                <h2>签证信息</h2>
            </div>
            <div class="editor_box">
                {% autoescape off %} 
                {{route.visa}}
                {% endautoescape %}
            </div>
            <div class="cl"></div>
            {% endif %}
            {% if schedules %}
            <div class="dr_title2" id="gundong8">
                <h2>参考行程</h2>
            </div>
            <div class="rdt_box">
                {% for schedule in schedules %}
            	<dl>
                    <dt>第 {{schedule.day}} 天</dt>
                    <dd>
                        <div class="tra_info fordetail">
                            <div class="t1">{{schedule.fromPlace}}</div><div title="{{schedule.get_goType_display}}" class="traffic traffic{{schedule.goType}}"></div><div class="t1">{{schedule.endPlace}}</div>
                        </div>
                        <div class="cl"></div>
                        <p></p>
                        {% autoescape off %} 
                        {{schedule.traffic}}
                        {% endautoescape %}
                        <div class="tip">
                           <strong>住宿：</strong>{{schedule.hotel}}<br>
                           <strong>餐饮：</strong>早餐：{{schedule.breakfast}}&nbsp;午餐：{{schedule.lunch}}&nbsp;晚餐：{{schedule.dinner}}
                        </div>
                        <div class="xingcheng">
                            {% autoescape off %} 
                            {{schedule.content}}
                            {% endautoescape %}
                        </div>
                    </dd>
                </dl>
                <div class="cl"></div>
                {% endfor %}
            </div>            
            <div class="cl"></div>
            {% endif %}
            {% if route.notice %}
            <div class="dr_title2"  id="gundong9">
                <h2>订购须知</h2>
            </div>
            <div class="editor_box">
                {% autoescape off %} 
                {{route.notice}}
                {% endautoescape %}
            </div>
            <div class="cl"></div>
            {% endif %}
            {% if route.netsign %}
            <div class="dr_title2" id="gundong10">
                <h2>网签协议</h2>
            </div>
            <div class="editor_box">
                {% autoescape off %} 
                {{route.netsign}}
                {% endautoescape %}
            </div>
            <div class="cl"></div>
            {% endif %}
            <div class="dr_title2"  id="gundong11">
                <h2>相关产品</h2>
            </div>
            <ul class="rp_box_fordetail">
                        <li>
                            <div class="pic">
                              <a href="#" target="_blank"><img src="{% static 'images/550b9e6459e03.jpg'%}" width="190" height="111"></a></div>
                            <h4><a href="#" target="_blank">异域风情 | 泰新马9晚11天跟团游</a></h4>
                            <p>￥4999起</p>
                            </li><li>
                            <div class="pic">
                              <a href="#" target="_blank"><img src="{% static 'images/5480317c40194.jpg'%}" width="190" height="111"></a></div>
                            <h4><a href="#" target="_blank">飞去海岛过冬 | 沙巴四晚六天超级自由行（11月-12月·含圣诞）</a></h4>
                            <p>￥2999起</p>
                            </li><li class="nomargin">
                            <div class="pic">
                              <a href="#" target="_blank"><img src="{% static 'images/5480346651017.jpg'%}" width="190" height="111"></a></div>
                            <h4><a href="#" target="_blank">享饕餮海鲜 | 沙巴四晚六天超级自由行（9月-10月·含十一）</a></h4>
                            <p>￥2999起</p>
                            </li>    
            </ul>
            <div class="cl"></div>

        </div>
    </div>
    <div class="cl"></div>
</div><!--container-->
</div><!--overall-->
<div id="footer">
    {% include "ajx/includes/footer.html" %}
</div>
{% include "ajx/includes/sidebar.html" %}

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/jquery.easing.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/mouse_hover.js'%}"></script>
<script type="text/javascript" src="{% static 'js/route.js'%}"></script>
{% endblock %}