<div class="about_con_left fl">
    <ul>
        <li><a href="/w/about/a" class="f14{% ifequal tag 'a' %} about_now{% endifequal %}">关于我们</a></li>
        <li><a href="/w/about/b" class="f14{% ifequal tag 'b' %} about_now{% endifequal %}">联系我们</a></li>
        <li><a href="/w/about/c" class="f14{% ifequal tag 'c' %} about_now{% endifequal %}">免责条款</a></li>
        <li><a href="/w/about/d" class="f14{% ifequal tag 'd' %} about_now{% endifequal %}">用户协议</a></li>
        <li><a href="/w/about/e" class="f14{% ifequal tag 'e' %} about_now{% endifequal %}">网签协议</a></li>
        <li><a href="/w/about/f" class="f14{% ifequal tag 'f' %} about_now{% endifequal %}">预订流程</a></li>
        <li><a href="/w/about/g" class="f14{% ifequal tag 'g' %} about_now{% endifequal %}">达人招募</a></li>
        <li><a href="/w/about/h" class="f14{% ifequal tag 'h' %} about_now{% endifequal %}">供应商</a></li>
    </ul>
</div>