{% load staticfiles %}

<div class="footer">
    <div class="foot">
        <ul>
            <li class="foot_li1">
                <h2>优质出游</h2>
                <p>精挑细选千种选择</p>
            </li>
            <li class="foot_li2">
                <h2>保证低价</h2>
                <p>同款产品低价承诺</p>
            </li>
            <li class="foot_li3">
                <h2>72小时服务</h2>
                <p>行前行后前后相伴</p>
            </li>
            <li class="foot_li4">
                <h2>安全支付</h2>
                <p>轻松、快捷、安全</p>
            </li>
            <li class="foot_li5">
                <h2>透明消费</h2>
                <p>透明行程明白消费</p>
            </li>
        </ul>
    </div>
</div>
<div class="link_index">
    <p> <strong>友情链接：</strong>
        {% for link in links %}
        <a href="{{link.link}}" target="blank">{{link.name}}</a>
        {% endfor %}
    </p>

</div>
<div class="low">
    <p>
        <a href="#">关于我们</a>
        |
        <a href="#">联系我们</a>
        |
        <a href="#">免责声明</a>
        |
        <a href="#">用户协议</a>
        |
        <a href="#">网签协议</a>
    </p>
    <p>黑龙江.哈尔滨 | 黑ICP备14007011号</p>
    <p>
        Copyright © 2014-2015 i-xing.com All Rights Reserved. 爱简行 版权所有
    </p>
    <div class="low_rz">
        <p>
            <a href="#">
                <img src="{% static 'images/low_img_03.jpg'%}" />
            </a>
            <a href="#">
                <img src="{% static 'images/low_img_05.jpg'%}" />
            </a>
            <a href="#">
                <img src="{% static 'images/low_img_07.jpg'%}" />
            </a>
            <a href="#">
                <img src="{% static 'images/low_img_09.jpg'%}" />
            </a>
        </p>
    </div>
</div>