{% load staticfiles %}
<div class="index_right_top">
    <ul>
        <li>
            <a href="#">我的订单</a>
        </li>
        <li>|</li>
        <li>
            <a href="#">注册</a>
        </li>
        <li>|</li>
        <li>
            <a href="#">登录</a>
        </li>
        <li>|</li>
        <li class="index_right_top_li7">400-0450-718</li>
    </ul>
</div>
<div class="header">
    <div class="nav">
        <ul>
            <li class="thisclass">
                <a href="/w/index/">线路首页</a>
            </li>
            <li class="index_nav_thgc_show">
                <a href="#">特惠广场</a>
                <div class="hot">
                    <img src="{% static 'images/hot.png'%}" />
                </div>

                <div class="index_nav_ztxl">
                    <a href="#">
                        <img src="{% static 'images/index_nav_xl_pic_03.jpg'%}" />
                    </a>
                    <a href="#">
                        <img src="{% static 'images/index_nav_xl_pic_05.jpg'%}" />
                    </a>
                    <a href="#">
                        <img src="{% static 'images/index_nav_xl_pic_10.jpg'%}" />
                    </a>
                    <a href="#">
                        <img src="{% static 'images/index_nav_xl_pic_12.jpg'%}" />
                    </a>
                    <a href="#" class="index_nav_ztxl_w">
                        <img src="{% static 'images/index_nav_xl_pic_16.jpg'%}" />
                    </a>
                    <a href="#" class="index_nav_ztxl_w">
                        <img src="{% static 'images/index_nav_xl_pic_18.jpg'%}" />
                    </a>
                </div>
                <!--index_nav_ztxl--> </li>
            <li>
                <a href="/w/north/">东北游</a>
            </li>
            <li>
                <a href="/w/made/">定制</a>
            </li>
        </ul>
    </div>
    <div class="search">
        <form>
            <div class="search_in">
                <input name="" type="text" value="请输入您要搜索的目的地" onfocus="if (value =='请输入您要搜索的目的地'){value =''}" onblur="if (value ==''){value='请输入您要搜索的目的地'}"/>
            </div>
            <div class="search_but">
                <input name="" type="button" />
            </div>
        </form>
    </div>
</div>