{% load staticfiles %}
<ul>
    <li {% if nav == 'index' %}class="thisclass"{% endif %}>
        <a href="/w/index/">线路首页</a>
    </li>
    <li class="index_nav_thgc_show  {% if nav == 'thgc' %}class='thisclass'{% endif %}">
        <a href="#">特惠广场</a>
        <div class="hot">
            <img src="{% static 'images/hot.png' %}"/>
        </div>

        <div class="index_nav_ztxl">
            {% for p in promotions %}
                <a href="{{ p.link }}" target="_blank">
                    <img src="/media/{{ p.banner }}" alt="{{ p.name }}"/>
                </a>
            {% endfor %}
        </div>
    </li>
    <li {% if nav == 'north' %}class="thisclass"{% endif %}>
        <a href="/w/north/">当地游</a>
    </li>
    <li {% if nav == 'made' %}class="thisclass"{% endif %}>
        <a href="/w/made/">定制</a>
    </li>
</ul>