<div class="index_left">
	<a href="/">
    	<div class="logo">
        	<h1>爱简行</h1>
        </div>
    </a>
    
    <div class="outer">
    	<div class="holder">
            <h2><p>出发地</p></h2>
            <div  class="index_left_1">
                <ul>
                    <li><a href="?s=-1{{except_s}}">全部</a></li>
                    {% for setout in setouts %} 
                    <li><a href="?s={{setout.id}}{{except_s}}">{{setout.name}}</a></li>
					{% endfor %}
                    <li class="i_more hbg_wu"><a href="javascript:void(0)">更多>></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="outer">
    	<div class="holder">
            <h2 class="index_left_2"><p>目的地<span>国内</span></p></h2>
            <div class="index_left_1 index_left_gn">
                <ul>
                    <li><a href="?d=-1{{except_d}}">全部</a></li>
                    {% for destin in destins %} 
                    <li><a href="?d={{destin.id}}{{except_d}}">{{destin.name}}</a></li>
					{% endfor %}
                    <li class="i_more hbg_wu"><a href="javascript:void(0)">更多>></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="outer">
    	<div class="holder">
            <h2 class="index_left_3"><p>目的地<span>出境</span></p></h2>
            <div class="index_left_1 index_left_gn">
                <ul>
                    <li><a href="?d=-1{{except_d}}">全部</a></li>
                    {% for destout in destouts %} 
                    <li><a href="?d={{destout.id}}{{except_d}}">{{destout.name}}</a></li>
					{% endfor %}
                    <li class="i_more hbg_wu"><a href="javascript:void(0)">更多>></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="outer">
    	<div class="holder">
            <h2 class="index_left_4"><p>出游时间</p></h2>
            <div class="index_left_1 index_left_shj">
                <ul>
                    <li><a href="#">全部</a></li>
                    <li><a href="#">2月</a></li>
                    <li><a href="#">3月</a></li>
                    <li><a href="#">4月</a></li>
                    <li><a href="#">5月</a></li>
                    <li><a href="#">6月</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--index_left-->