<div class="index_left">
	<a href="/">
        {% if S.logo %}
    	<div class="logo" style="background: url(media/{{S.logo}}) no-repeat;">
            <h1>在旅行</h1>
        </div>
        {% else %}
        <div class="logo">
            <h1>在旅行</h1>
        </div>
        {% endif %}
    </a>
    
    <div class="outer">
    	<div class="holder">
            <h2><p>出发地</p></h2>
            <div  class="index_left_1">
                <ul>
                    {% if sall == 1 %}
                    <li><a href="?s=-1{{except_s}}">全部</a></li>
                    {% else %}
                    <li class="active"><a href="?s=-1{{except_s}}">全部</a></li>
                    {% endif %}
                    {% for setout in setouts %} 
                    {% if sid == setout.id %}
                    <li class="active{% if forloop.counter > 6 %} hidden{% endif %}"><a href="?s={{setout.id}}{{except_s}}">{{setout.name}}</a></li>
                    {% else %}
                    <li{% if forloop.counter > 6 %} class="hidden"{% endif %}><a href="?s={{setout.id}}{{except_s}}">{{setout.name}}</a></li>
                    {% endif %}
					{% endfor %}
                    <li class="i_more hbg_wu"><a href="javascript:void(0)">更多>></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="outer">
    	<div class="holder">
            <h2 class="index_left_2"><p>目的地<span>国内</span></p></h2>
            <div class="index_left_1 index_left_gn">
                <ul>
                    {% if dall == 1 %}
                    <li><a href="?d=-1{{except_d}}">全部</a></li>
                    {% else %}
                    <li class="active"><a href="?d=-1{{except_d}}">全部</a></li>
                    {% endif %}
                    {% for destin in destins %}
                    {% if did == destin.id %}
                    <li class="active{% if forloop.counter > 6 %} hidden{% endif %}"><a href="?d={{destin.id}}{{except_d}}">{{destin.name}}</a></li>
                    {% else %}
                    <li{% if forloop.counter > 6 %} class="hidden"{% endif %}><a href="?d={{destin.id}}{{except_d}}">{{destin.name}}</a></li>
                    {% endif %}
					{% endfor %}
                    <li class="i_more hbg_wu"><a href="javascript:void(0)">更多>></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="outer">
    	<div class="holder">
            <h2 class="index_left_3"><p>目的地<span>出境</span></p></h2>
            <div class="index_left_1 index_left_gn">
                <ul>
                    {% if dall == 1 %}
                    <li><a href="?d=-1{{except_d}}">全部</a></li>
                    {% else %}
                    <li class="active{% if forloop.counter > 6 %} hidden{% endif %}"><a href="?d=-1{{except_d}}">全部</a></li>
                    {% endif %}
                    {% for destout in destouts %} 
                    {% if did == destout.id %}
                    <li class="active"><a href="?d={{destout.id}}{{except_d}}">{{destout.name}}</a></li>
                    {% else %}
                    <li{% if forloop.counter > 6 %} class="hidden"{% endif %}><a href="?d={{destout.id}}{{except_d}}">{{destout.name}}</a></li>
                    {% endif %}
					{% endfor %}
                    <li class="i_more hbg_wu"><a href="javascript:void(0)">更多>></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="outer">
    	<div class="holder">
            <h2 class="index_left_4"><p>出游时间</p></h2>
            <div class="index_left_1 index_left_shj">
                <ul>
                    {% if mall == 1 %}
                    <li><a href="?m=-1{{except_m}}">全部</a></li>
                    {% else %}
                    <li class="active"><a href="?m=-1{{except_m}}">全部</a></li>
                    {% endif %}
                    {% for m in months %}
                    {% if mid == m %}
                    <li class="active"><a href="?m={{m}}{{except_m}}">{{m}}月</a></li></li>
                    {% else %}
                    <li><a href="?m={{m}}{{except_m}}">{{m}}月</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!--index_left-->