{% load staticfiles %}

<div class="popup_yd detail_t">
    <div class="popup_yd_close detail_x">
        <a href="#">
            <img src="{% static 'images/popup_yd_close_03.jpg'%}" />
        </a>
    </div>
    <h2 class="popup_yd_logo">
        <img src="{% static 'images/popup_yd_logo_03.jpg'%}"  />
    </h2>
    <div class="popup_yd_con">
        <div class="popup_yd_con_left">
            <h3>使用第三方账号登录</h3>
            <ul class="popup_yd_cl_ul">
                <li>
                    <a href="/w/snslogin/wx">
                        <img src="{% static 'images/popup_yd_left_li_08.jpg'%}" />
                    </a>
                </li>
                <li>
                    <a href="/w/snslogin/wb">
                        <img src="{% static 'images/popup_yd_left_li_03.jpg'%}" />
                    </a>
                </li>
                <li class="popup_yd_cl_ul_3">
                    <a href="/w/snslogin/qq">
                        <img src="{% static 'images/popup_yd_left_li_06.jpg'%}" />
                    </a>
                </li>
            </ul>
            <p>注册过的用户可以点击直接登录哦！</p>
        </div>
        <!--popup_yd_con_left-->
        <div class="popup_yd_con_right">

            <div class="tab tab_popup_yd">
                <ul class="tab-father tab_popup_hd">
                    <li>手机快速登录</li>
                    <li>登录</li>
                    <li>注册</li>
                </ul>
                <ul class="tab-children tab_popup_bd">
                    <li>
                        <form>
                            <div class="error_tip"></div>
                            <div class="success_tip"></div>
                            <dl class="tab_popup_bd_dl1">
                                <dt>手机号码：</dt>
                                <dd class="tab_popup_bd_dl1_1">
                                    <input id="account" type="text" data="tel"/>
                                </dd>
                            </dl>
                            <dl class="tab_popup_bd_dl1">
                                <dt>验 证 码：</dt>
                                <dd class="tab_popup_bd_dl1_1">
                                    <input id="code" type="text" />
                                </dd>
                                <dd class="tab_popup_bd_dl1_2">
                                    <a class="getLoginCode">获取验证码</a>
                                </dd>
                            </dl>
                            <dl class="tab_popup_bd_dl2">
                                <dd class="tab_popup_bd_dl2_1">
                                    <span>
                                        <input id="checked" type="checkbox" value="" />
                                    </span>
                                    记住我
                                </dd>
                                <dd class="tab_popup_bd_dl2_2">
                                    <a href="/w/forget/">忘记密码？</a>
                                </dd>
                            </dl>
                            <dl class="tab_popup_bd_dl3">
                                <dd>
                                    <input id="btn_quick_login"  value="登 录" readonly></dd>
                            </dl>
                        </form>
                    </li>
                    <li>
                        <form>
                            <div class="error_tip"></div>
                            <dl class="tab_popup_bd_dl1">
                                <dt>用户名：</dt>
                                <dd class="tab_popup_bd_dl1_1">
                                    <input id="user_account" type="text" />
                                </dd>
                            </dl>
                            <dl class="tab_popup_bd_dl1">
                                <dt>密　码：</dt>
                                <dd class="tab_popup_bd_dl1_1">
                                    <input id="user_password" type="password" />
                                </dd>

                            </dl>
                            <dl class="tab_popup_bd_dl2">
                                <dd class="tab_popup_bd_dl2_1">
                                    <span>
                                        <input id="cc_remember" type="checkbox" value="" />
                                    </span>
                                    记住我
                                </dd>
                                <dd class="tab_popup_bd_dl2_2">
                                    <a href="/w/forget/">忘记密码？</a>
                                </dd>
                            </dl>
                            <dl class="tab_popup_bd_dl3">
                                <dd><input id="btn_login" value="登 录" readonly></dd>
                            </dl>
                        </form>
                    </li>
                    <li>
                        <form>
                            <div class="error_tip"></div>
                            <div class="success_tip"></div>
                            <dl class="tab_popup_bd_dl1">
                                <dt>账号：</dt>
                                <dd class="tab_popup_bd_dl1_1 tab_popup_bd_dl1_col">
                                    <input id="account" type="text" placeholder="请填写手机号或邮箱" data="account"/>
                                </dd>
                            </dl>
                            <dl class="tab_popup_bd_dl1">
                                <dt>密码：</dt>
                                <dd class="tab_popup_bd_dl1_1">
                                    <input id="user_password" type="password" />
                                </dd>
                            </dl>
                            <dl class="tab_popup_bd_dl1">
                                <dt>确认密码：</dt>
                                <dd class="tab_popup_bd_dl1_1">
                                    <input id="reuser_password" type="password" />
                                </dd>
                            </dl>
                            <dl class="tab_popup_bd_dl1">
                                <dt>验证码：</dt>
                                <dd class="tab_popup_bd_dl1_1">
                                    <input id="verify" type="text" />
                                </dd>
                                <dd class="tab_popup_bd_dl1_2">
                                    <a class="getLoginCode">获取验证码</a>
                                </dd>
                            </dl>
                            <dl class="tab_popup_bd_dl5">
                                <dd class="tab_popup_bd_dl5_1">
                                    <span>
                                        <input id="cc_read" type="checkbox" value="" />
                                    </span>
                                    我已经阅读并同意遵守
                                </dd>
                                <dd class="tab_popup_bd_dl5_2">
                                    <a href="#">《爱简行服务协议》</a>
                                </dd>
                            </dl>
                            <dl class="tab_popup_bd_dl3">
                                <dd>
                                    <input id="btn_reg"  value="注 册" readonly></dd>
                            </dl>
                        </form>
                    </li>
                </ul>
            </div>

        </div><!--popup_yd_con_left--> 
    </div><!--popup_yd_con-->
</div><!--popup_yd-->